@charset "utf-8";

addNotesMain {
  width: 33vw;
  height: 100vh;
  margin: 0;
  background: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

textarea#newNote {
  border: 0.5px solid var(--primaryHover);
  border-radius: 4px;
  min-height: 60vh;
  resize: none;
  width: 100%;
  padding: 16px;
  font-size: 12px;
  margin-top: 12px;
}
textarea::placeholder {
  font-size: 12px;
}

textarea:focus {
  background-color: white;
  border-color: var(--accent);
}

/* Containers */
.addNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 6;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.noteHeaderLeft {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reportCheckbox {
  display: flex;
  align-items: center;
}

.newNoteTitle {
  flex-grow: 1;
}

.newTitle {
  font-size: 10px;
  font-weight: 600;
}

/*Classes*/
.closeAddNotes {
  width: 40px;
  height: 40px;
  z-index: 3;
  margin-right: 16px;
}

.orangeUnderline {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  color: var(--accent);
}

.reportLabel {
  font-size: 10px;
}

.textSpacing {
  margin: 4px;
}

.bold {
  font-weight: bold;
}

/*Header*/
.spanLeft {
  display: flex;
  align-items: center;
}

.addNotesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: inherit;
  background: #ffff;
  padding: 12px 27px 12px 12px;
  top: 0;
  z-index: 6;
  border-radius: 20px 0 0 0;
}
/* IDs */
#addNotesContainer {
  margin: 90px 27px 16px 27px;
  display: flex;
  flex-direction: column;
}

#hideLabel {
  display: none;
}

#charCount {
  display: flex;
  justify-content: right;
  padding: 0.1rem 0 0 0;
  font-size: 10px;
}

@media (max-width: 768px) {
  #addNotesHeader {
    width: 100vw;
  }
}
