@charset "utf-8";

html {
  box-sizing: border-box;
  background: white;
}

checkInMain {
  width: 33vw;
  height: 100%;
  margin: 0;
  background: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

body > checkInMain {
  font-family: Montserrat;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  color: var(--primaryColor);
  margin: 0;
  height: 100vh;
}
/* IDs */

.checkInHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  top: 0;
  height: 60px;
  border-radius: 8px;
  z-index: 4;
}


.checkInContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}


/*Header*/
.spanLeft {
  display: flex;
  align-items: center;
}

.panelsTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  color: var(--primaryColor);
  width: 130px;
}

.closeCheckIn {
  width: 40px;
  height: 40px;
  margin: 0 16px 0 0;
}

.orangeButton {
  border: none;
  background: var(--accent);
  border-radius: 4px;
  color: #ffff;
  padding: 0;
}

.orangeButton:hover {
  background: var(--accentHover);
}

.saveButton {
  height: 22px;
  width: 36px;
  font-size: 10px;
  font-weight: 500;
}

.uploadButton {
  width: 80px;
  height: 22px;
  font-size: 10px;
  font-weight: 500;
}

.viewReceipts {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  text-decoration-line: underline;
  color: #5a7284;
}

.orangeFile {
  height: 22px;
  width: 18px;
}

button.orangeFile {
  background: none;
  padding: 0;
}

/* text styling */
.boldText {
  font-weight: 700;
  font-size: 12px;
}

.LargeBoldText {
  font-size: 14px;
  font-weight: 700;
}

.smallBoldText {
  font-size: 10px;
  font-weight: 700;
}

.largeLightText {
  font-size: 14px;
  font-weight: 400;
}

.checkInBody {
  justify-content: space-between;
  margin: 16px 0 0 16px;
  overflow-x: scroll;
}

.locationInput {
  margin: 10px 0 0 0;
}

.lightText {
  font-weight: 400;
}

.smallText {
  font-size: 10px;
}

.mediumText {
  font-size: 10px;
  font-weight: 600;
}

.mediumMediumText {
  font-size: 12px;
  font-weight: 600;
}

.textSpacing {
  margin: 4px;
}

.heavyOrange {
  font-size: 12px;
  font-weight: 600;
  color: var(--accent);
}

.orangeLight {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  color: var(--accent);
}

/* Containers */
.greyContainer {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 8px;
  margin: 12px 0 16px 0;
  padding: 15px;
  overflow-y: hidden;
}

.checkInUPload {
  width: auto;
  height: 160px;
  background: #ffffff;
  border: 1px dashed #bababa;
  border-radius: 4px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkInGreySize {
  height: 35vh;
}

.fontItalic {
  font-style: italic;
}

.fontSizeMedium {
  font-size: 12px;
}

.gapTen {
  gap: 10px;
}

.whiteBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 100%;
  border-radius: 4px;
  background: #ffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  padding: 0 16px 0 20px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

input#cityState {
  height: 22px;
  width: 170px;
}

.checkInTop {
  margin: 0 0 40px 0;
}

@media (max-width: 768px) {
  checkInMain {
    width: 100vw;
  }
}
