:root {
  --primaryColor: #5a7284;
  --primaryHover: #344d61;
  --secondary: #f2f2f2;
  --accent: #f4901f;
  --accentHover: #da780a;
  --white: #fff;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  color: var(--primaryColor);
  margin: 0;
}
