:root {
  --primaryColor: #5a7284;
  --primaryHover: #344d61;
  --secondary: #f2f2f2;
  --accent: #f4901f;
  --accentHover: #da780a;
  --white: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  font-family: var(--mainFont);
}

body {
  background: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  color: var(--primaryColor);
  margin: 0;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background: var(--primaryColor);
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
  padding: 0 46px 0 146px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 89px 0 40px 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

img {
  object-fit: scale-down;
}

a {
  font-family: var(--mainFont);
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #ea963e;
}

li {
  margin: 14px 0 14px 0;
  color: #787878;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

select:focus {
  box-shadow: none;
  outline: none;
}


panel {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;
}

.filterRowGap {
  gap: 20px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  color: var(--primaryColor);
}

[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="date"] {
  background: #fff url("/img/editLoadPanel/calendarIcon.svg") 97% 50% no-repeat;
  background-size: 12px;
  width: 134px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexEnd {
  display: flex;
  align-items: flex-end;
}

.orangeStyled {
  font-weight: 400;
  font-style: italic;
  color: var(--accent);
}

.centerItems {
  align-items: center;
  justify-items: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.panelPadding {
  margin: 30px 28px 28px;
  display: flex;
  flex-direction: column;
}

.panelInputSpacing {
  gap: 8px;
}

.buttonGap {
  gap: 8px;
}

.pencilIcon:hover {
  cursor: pointer;
}

.noteTitleContainer {
  width: 130px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 8px 5px 0;
  position: relative;
}

.inline-input-container:last-child,
.input-container:last-child {
  padding-right: 0px;
}

.search {
  display: flex;
  height: 35px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--primaryColor);
}

.inline-input-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  align-items: left;
  padding: 0 8px 5px 0;
}

.noBtnStyle {
  padding: 0;
  background: none;
}

.noBtnStyle:focus {
  background: none;
}

.infoScrollContainer {
  overflow: auto;
  height: 80vh;
}

.errorGap {
  gap: 2px;
}

.deleteInfoBtn {
  background: var(--primaryColor);
  color: #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteInfoBtn:hover .deleteInfoBtn:focus {
  background: var(--primaryHover);
}

.showingFiltered {
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customerNameContainer {
  width: 110px;
}

/* apply styles when input is incorrect */
.inputError {
  border: 0.5px solid #c50000;
  background: rgba(197, 0, 0, 0.05);
}

.disableBtn {
  background: #787878;
}

.inputErrorSignal {
  /* display: none; */
  color: #c50000;
}

.HeaderNarrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  border-radius: 8px;
  padding: 6px 23px 0 12px;
  z-index: 4;
}

.headerMedium {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  border-radius: 8px;
  padding: 0 12px 0 12px;
}

.noBtnStyle {
  padding: 0;
  background: none;
}