.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: var(--mainFont), Sans-Serif;
  color: #5a7284;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 2px 10px 2px 8px;
  font-weight: 600;
  font-size: 14px;
  border: 0.5px solid #5a7284;
  border-radius: 4px;
  width: 144px;
  height: 24px;
  margin-left: 2px;
}

.panelStyleSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  padding: 2px 10px 2px 8px;
  font-weight: 600;
  font-size: 14px;
  border: 0.5px solid #5a7284;
  border-radius: 4px;
  width: 144px;
  height: 24px;
  margin-left: 2px;
}

.searchStyledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 5px 10px 2px 8px;
  font-weight: 600;
  font-size: 18px;
  border: 0.5px solid #5a7284;
  border-radius: 4px;
  width: 176px;
  height: 35px;
  margin-left: 2px;
}

.panelStyleSelect:active,
.panelStyleSelect.active,
.searchStyledSelect:active,
.searchStyledSelect.active,
.styledSelect:active,
.styledSelect.active {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.options {
  display: none;
  width: 144px;
  position: absolute;
  top: 115%;
  right: 0;
  left: 2px;
  z-index: 9;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-color: #5a7284;
  border-width: 0 0.5px 0.5px 0.5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
}

.searchByOption {
  display: none;
  width: 176px;
  position: absolute;
  /* top: 100%; */
  right: 0;
  left: 2px;
  z-index: 9;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-color: #5a7284;
  border-width: 0 0.5px 0.5px 0.5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
}

.panelOptions {
  display: none;
  width: 144px;
  position: absolute;
  top: 115%;
  right: 0;
  left: 2px;
  z-index: 9;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-color: #5a7284;
  border-width: 0 0.5px 0.5px 0.5px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
}

.options,
.searchByOption,
.panelOptions li {
  margin: 0 0;
  /* padding: 6px 8px; */
}

.options li:hover {
  background-color: #f2f2f2;
}

#options > li {
  margin: 0;
  padding: 8px;
  color: #787878;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
