.customCheckbox {
  float: left;
  position: relative;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #5a7284;
  margin-right: 5px;
  overflow: hidden;
}

.greyCheckbox {
  float: left;
  position: relative;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--primaryColor);
  margin-right: 5px;
  overflow: hidden;
}

.smallGreyCheckbox {
  float: left;
  position: relative;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--primaryColor);
  margin-right: 5px;
  overflow: hidden;
}

.customCheckbox.customCheckboxChecked {
  background: var(--accent);
  border: none;
  height: 14px;
  width: 14px;
}

.greyCheckbox.greyCheckboxChecked {
  background: var(--primaryColor);
  border: none;
  height: 18px;
  width: 18px;
}

.smallGreyCheckbox.smallGreyCheckboxChecked {
  background: var(--primaryColor);
  border: none;
  height: 14px;
  width: 14px;
}


.customCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.greyCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.smallGreyCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.customCheckbox span {
  display: none;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #ffffff;
}

.greyCheckbox span {
  display: none;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #ffffff;
}

.smallGreyCheckbox span {
  display: none;
  text-align: center;
  line-height: 20px;
  font-size: 90%;
  color: #ffffff;
}

.customCheckbox.customCheckboxChecked span {
  display: block;
}

.greyCheckbox.greyCheckboxChecked span {
  display: block;
}

.smallGreyCheckbox.smallGreyCheckboxChecked span {
  display: block;
}

.checkMarkImg {
  height: 10px;
}

.checkMarkImg2 {
  height: 8px;
}
.checkMarkPlacement {
  position: relative;
  left: 23px;
  top: 1px;
}

.checkMarkPlacement2 {
  position: relative;
  top: -2px;
}

.checkMarkPlacement3 {
  position: relative;
  top: -4px;
  left: 0;
}