.defaultNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 6;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.defaultNotesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  top: 0;
  height: 60px;
  border-radius: 8px;
  padding: 0 23px 0 12px;
  z-index: 4;
}


.defaultNotesTitle {
  width: 210px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 0 0 14px;
}

.defaultNotesInput {
  width: inherit;
  height: 70px;
}

.defaultSideNote {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
}

.defaultInputSpacing {
  margin: 0 0 30px 0;
}
