.currentPage {
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 18px;
  width: 36px;
  display: flex;
  justify-content: flex-end;
  margin: 0 6px 0 0;
  padding: 0 3px 0 3px;
}

.pageController {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--mainFont);
}

#helpFooter {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 0 35px;
}

#forwardFive {
  margin: 0 0 0 20px;
  height: 14px;
  width: 10px;
  border: none;
  background: none;
}

#forwardOne {
  margin: 0 0 0 20px;
  height: 14px;
  width: 10px;
  border: none;
  background: none;
}

#backFive {
  margin: 0 20px 0 0;
  height: 14px;
  width: 10px;
  border: none;
  background: none;
}

#backOne {
  margin: 0 20px 0 0;
  height: 14px;
  width: 10px;
  border: none;
  background: none;
}

#dropArrow {
  padding: 0 0 0 5px;
}

#dispatchBoard {
  margin: 0;
  overflow-x: hidden;
}

/* main dispatch content */

.mainContent {
  /* margin: 89px 0 40px 0; */
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  padding: 0 28px 0 28px;
  width: 100%;
}

.resultsContent {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 13px;
  border-radius: 8px;
  padding: 14px;
}

.mainTitle {
  width: 230px;
  height: 12px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
  color: var(--primaryColor);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.searchDispatchSize {
  width: 395px;
  text-indent: 30px;
  background-image: url("/img/dispatchPage/searchIcon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 5px;
}

.search::placeholder {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  transform: translateY(2px);
  color: #cccccc;
}

.advancedSearch {
  margin: 0 26px 0 10px;
  border-style: hidden;
  border-radius: 4px;
  width: 80px;
  height: 35px;
  background-color: #737373;
  color: #ffffffdc;
  font-family: var(--mainFont);
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.advancedSearch:hover {
  background-color: #514e4e;
}

.filterRowGap {
  gap: 20px;
}

.mainTop {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0 0;
}

.help {
  display: flex;
  align-items: center;
}

.dispatchSelectors {
  display: flex;
  align-items: center;
  margin: 23px 0 0 0;
  justify-content: space-between;
}

.newLoad {
  width: 69px;
  height: 21px;
  font-size: 9px;
  line-height: 12px;
  font-weight: 500;
  font-style: normal;
  color: #ffffffdc;
  background-color: #f4901f;
  border: hidden;
  border-radius: 4px;
  margin: 0 46px 0 0;
}

.newLoad:hover {
  background-color: var(--accentHover);
}

.mobileNewLoad {
  display: none;
}

.checkSelectors input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkSelectors {
  height: 17px;
  width: 17px;
  margin: 0 7px 0 23px;
}

.labelSelectors {
  display: flex;
  align-items: center;
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--primaryColor);
}

.cautionImg {
  height: 21px;
  width: 21px;
}

.showResults {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.resultsShown {
  display: none;
}

.sortBy {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #787878;
}

.sortBySelector {
  border: none;
  width: 132px;
  color: #787878;
  font-family: var(--mainFont);
  font-weight: 600;
}

option:hover {
  background: #ffffff;
}

.sortDropDown {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  color: var(--primaryColor);
  margin-left: 2px;
  display: flex;
  align-items: center;
  background: none;
}

.showAll {
  display: show;
  margin: 0 0 0 18px;
}

/* load container */
.loads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 59px;
  padding: 0 17px 0 18px;
  font-family: var(--mainFont);
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 10px 0;
}

div.loads:hover {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
}

.loadInfo {
  display: flex;
}

.loadStart {
  position: absolute;
  width: 170px;
  right: 18vw;
}

.loadEnd {
  position: absolute;
  width: 170px;
  right: 0;
}

.loadFinish {
  position: absolute;
}

.container {
  flex-direction: column;
}

.red {
  color: #c50000;
  text-decoration-line: underline;
}

.inline {
  align-items: center;
}

.statusOpen {
  font-weight: 600;
  color: #56bb61;
  margin: 0 0 0 2px;
}

.statusCovered {
  font-weight: 600;
  color: #3548f2;
  margin: 0 0 0 2px;
}

.statusBtn {
  background: none;
  padding: 0;
}

.loadLocationsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 22vw;
  width: 350px;
}

.loadCompany {
  font-weight: 700;
  color: var(--primaryColor);
}

.loadAssign {
  position: absolute;
  left: 26vw;
}

.checkIn {
  position: absolute;
  left: 36vw;
  margin: 0 50px 0 0;
}

.mobileCheckIn {
  display: none;
}

.checkInImg {
  width: 15px;
  height: 21px;
}

.checkInA {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  align-items: center;
}

.loadStatusContainer {
  flex-grow: 1;
  justify-content: flex-start;
  width: 156px;
}

.statusCheckInContainer {
  position: absolute;
  right: 8vw;
}

.locationTime {
  font-weight: 400;
  color: #787878;
}

.editLoad {
  width: 19px;
  height: 19px;
  border: none;
  /* background-color: #FFFFFF; */
  padding: 0;
  background: url("/img/dispatchPage/editLoad.svg") no-repeat;
  background-size: 90%;
}

.editLoad:hover {
  background: url("/img/dispatchPage/editLoadHover.svg") no-repeat;
  background-size: 90%;
  cursor: pointer;
}
/* load card Imgs */
.loadStatusImgs {
  display: inline;
  height: 16px;
  width: 16px;
  margin: 0 6px 0 0;
}

.statusArrow {
  margin: 0 4px;
}

.pcmillerlogo {
  display: flex;
}

.flags {
  width: 12px;
  height: 19px;
  margin: 0 7px 0 0;
}

.arrow {
  height: 12px;
  width: 22.7px;
  position: absolute;
  right: 16vw;
}

/* header */
header {
  position: absolute;
  width: 100%;
  height: 89px;
  left: 0;
  top: 0;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.17);
  background: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 32px 0 0;
}

button#hamButton,
#editAccount {
  background-color: var(--primaryColor);
  border: none;
  padding: 0;
}

.hamButton {
  height: 23px;
  width: 23px;
  margin: 33px 26px 33px 27px;
}

.hamStyle {
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}

#hamStyle {
  margin: 5px 0;
}

.header {
  display: flex;
  align-items: center;
}

.myAccountBtn {
  padding: 0;
  background: none;
}

.editAccount {
  height: 22px;
  width: 6px;
  margin: 0 26px 0 22px;
}

.accountLogo {
  height: auto;
  max-height: 35px;
}

.recentlyAddedDropDwn {
  font-weight: 600;
  width: 144px;
  border: 0.5px solid black;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
}

/* side bar */
.dropImg {
  height: 25.25px;
  width: 25.25px;
  margin: 0 28px 0 0;
}

.capsule {
  display: flex;
  min-height: 100%;
  flex-direction: row;
  border-right: 1px solid #bababa;
  background: #ffffff;
}

.sideBar {
  flex-direction: column;
  width: 78px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sideBarExpanded {
  width: 241px;
  height: 100%;
  display: none;
  flex-direction: column;
  font-family: var(--mainFont);
}

.filterSelectArrow {
  padding: 0;
  background: none;
  position: relative;
  right: 7px;
  top: 1px;
  pointer-events: none;
}

.sideBarSelector {
  height: 77px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 78px;
  color: var(--primaryColor);
  /* width: 0; */
}

.sideBarSelector:hover {
  background-color: var(--primaryColor);
  color: #ffffff;
}

.navImg {
  height: auto;
  max-height: 27px;
  width: auto;
  max-width: 30px;
}

.expanded {
  width: 140px;
  /* display: none; */
}

.dispatch {
  background-image: url("/img/sideBar/dispatch.svg");
  background-repeat: no-repeat;
  /* box-shadow: inset 0px 3px 7px rgb(0 0 0 / 17%); */
}

.dispatch:hover {
  background-image: url("/img/sideBar/dispatchHover.svg");
  background-repeat: no-repeat;
}

.administration {
  background-image: url("/img/sideBar/administration.svg");
  background-repeat: no-repeat;
  top: 77px;
}

#adminDropDown {
  display: none;
  padding: 0 0 0 26px;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  margin: 0;
  background: #ffffff;
  z-index: 3;
}

.adminDropDown {
  display: flex;
  flex-direction: column;
}

.administration:hover {
  background-image: url("/img/sideBar/administrationHover.svg");
  background-repeat: no-repeat;
}

.accounting {
  background-image: url("/img/sideBar/accounting.svg");
  background-repeat: no-repeat;
  top: 154px;
}

.accounting:hover {
  background-image: url("/img/sideBar/accountingHover.svg");
  background-repeat: no-repeat;
}

.IFTA {
  background-image: url("/img/sideBar/IFTA.svg");
  background-repeat: no-repeat;
  top: 231px;
}

.IFTA:hover {
  background-image: url("/img/sideBar/IFTAHover.svg");
  background-repeat: no-repeat;
}

.reports {
  background-image: url("/img/sideBar/reports.svg");
  background-repeat: no-repeat;
  top: 308px;
}

.reports:hover {
  background-image: url("/img/sideBar/reportsHover.svg");
  background-repeat: no-repeat;
}

/* Panel Containers */
.panelContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.notesTwoContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.checkInNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

#checkInPanel {
  height: 100%;
}

#notesPanel {
  height: 100%;
}

/* prompt save  */
.promptSaveChanges {
  z-index: 10;
  position: absolute;
  left: 40vw;
  display: none;
}

.confirmLogoutContainer {
  z-index: 10;
  position: absolute;
  left: 40vw;
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .mainTitle {
    margin: 0 0 16px 0;
    font-size: 18px;
  }

  /* sidebar */
  .sideBar {
    position: absolute;
    width: 0;
    z-index: 2;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #bababa;
  }

  .resultsShown {
    display: inline;
  }

  .showAll {
    display: none;
  }

  .showingFiltered {
    height: 35px;
  }
}

@media (max-width: 859px) {
  .mainContent {
    padding: 0 14px;
  }

  .mainTop {
    flex-wrap: wrap;
    padding: 16px 14px 0 14px;
    height: auto;
  }

  .resultsContent {
    padding: 14px;
    margin-top: 12px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .dispatchSelectors {
    display: none;
  }

  .help {
    display: none;
  }

  .pcmillerlogo {
    display: none;
  }

  /* loads bar */
  .loads {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .loadCompany {
    font-size: 16px;
    order: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
  }

  .loadCompany.container {
    flex-direction: row;
  }

  .loadAssign {
    position: relative;
    left: 0;
    order: 3;
    width: 100%;
    margin-bottom: 48px;
  }

  .checkIn {
    display: none;
  }

  .mobileCheckIn {
    display: flex;
    margin: 0 0 0 22px;
  }

  .statusCheckInContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 5;
    position: relative;
    right: 0;
  }

  .editLoadContainer {
    order: 2;
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .loadStart {
    right: 0;
    position: relative;
  }

  .loadEnd {
    position: relative;
  }

  .editLoad {
    width: 21px;
    height: 21px;
  }

  .loadLocationsContainer {
    order: 4;
    position: relative;
    right: 0;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 16px;
    width: auto;
  }

  .loadStatusContainer {
    order: 5;
    background: #e5e5e5;
    border-radius: 4px;
    padding: 8px 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    margin-top: 24px;
  }

  .loadStatus {
    display: flex;
    flex-direction: column;
  }

  .loadStatusContainer > .loadStatusImgs {
    display: none;
  }

  .statusOpen {
    margin: 0px;
  }

  .locationTime {
    order: 2;
  }

  img.arrow {
    transform: rotate(90deg) translateY(8px);
    padding: 0 6px 0 0px;
    right: 0;
    position: relative;
  }

  .statusArrow {
    padding: 0 0 0 5px;
    display: block;
  }

  .mobileNewLoad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .showingFiltered {
    margin: 0 0 16px 0;
  }

  .search {
    width: 100%;
  }
  /* panels */
  .searchContainer {
    width: 100%;
  }

  .advancedSearch {
    justify-content: flex-end;
    margin-right: 0px;
  }

  .panelContainer {
    width: 100vw;
  }

  .checkInContainer {
    width: 100vw;
  }

  .addNotesContainer {
    width: 100vw;
  }

  .notesTwoContainer {
    width: 100vw;
  }

  footer {
    display: none;
  }
}
