@charset "utf-8";

html {
  box-sizing: border-box;
  background: white;
}

editPanelMain {
  width: 66vw;
  height: 100%;
  margin: 0 0 0 auto;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

input {
  border-radius: 4px;
  border: 0.5px solid var(--primaryColor);
  height: 21px;
}

select {
  border-radius: 4px;
  border: 0.5px solid var(--primaryColor);
  height: 22px;
}

select:focus {
  background: #ffffff;
}

input:focus,
input:active {
  border-color: var(--accent);
  background-color: #fff;
}

label {
  display: inline-block;
  width: auto;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

button {
  cursor: pointer;
  border: none;
}

/*Classes*/

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0;
  margin: auto 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 4px;
  text-decoration: none;
}

.formContainer {
  position: relative;
  border-top: 1px solid var(--primaryColor);
  min-height: 100px;
  max-height: 100vh;
  padding: 8px 0 21px 0;
  display: flex;
  justify-content: space-between;
}

.formContainer1 {
  position: relative;
  min-height: 100px;
  max-height: 100vh;
  padding: 8px 0 21px 0;
  display: flex;
  justify-content: space-between;
}

.loadShipperContainer,
.loadReceiverContainer {
  position: relative;
  min-height: 100px;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.labelCheck {
  padding-bottom: -12px;
  height: 12px;
}

.tabContainer {
  padding: 32px 0 21px 0;
}

.icon {
  height: 21px;
  width: auto;
}

.savebutton {
  padding: 8px 4px;
}

.deleteForm {
  background: #C50000;
  position: relative;
  width: 13px;
  height: 13px;
  left: -3px;
  top: -28px;
  border-radius: 50%;
  color: white;
  display: flex;
  padding: 0px 0 0px 4px;
  font-size: 11px;
}

.deleteForm2 {
  background: #C50000;
  position: relative;
  width: 13px;
  height: 13px;
  left: 526px;
  top: 5px;
  border-radius: 50%;
  color: white;
  display: flex;
  padding: 0px 0 0px 4px;
  font-size: 11px;
}


.primaryButton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--accent);
  padding: 4px 4px;
  font-size: 10px;
  text-decoration: none;
  border: none;
}

.primaryButton:hover,
.primaryButton:focus {
  background-color: var(--accentHover);
}
.tabsContainer {
  position: absolute;
  top: -1px;
  left: 0px;
  display: flex;
}

.shipperTab {
  font-weight: 700;
  font-size: 12px;
  border-radius: 0px 0px 2px 2px;
  color: var(--white);
  background-color: var(--primaryColor);
  padding: 4px 16px;
  /* text-decoration: none; */
  margin: 0 1px 0 1px;
  outline: 2px solid white;
}

.shipperTab:hover,
.receiverTab:hover {
  background-color: var(--primaryHover);
}

.receiverTab {
  font-weight: 700;
  font-size: 12px;
  border-radius: 0px 0px 2px 2px;
  color: var(--white);
  background-color: var(--primaryColor);
  padding: 4px 16px;
  /* text-decoration: none; */
  margin: 0 1px 0 1px;
  outline: 2px solid white;
}

.flagIcon {
  margin-left: -28px;
  padding-right: 16px;
  height: 19px;
}

.plusBtn {
  padding-left: 4px;
  padding-top: 2px;
}

.tab:nth-of-type(1) {
  border-radius: 2px 0px 2px 2px;
  margin-left: 0px;
}

.selected {
  background-color: var(--accent);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
  outline: none;
}

.selected:hover {
  background-color: var(--accentHover);
}

.closeLoad {
  position: sticky;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 12px;
  z-index: 3;
}

.searchIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 16px;
  bottom: 16px;
}

.inputTime {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.inputIcon {
  position: absolute;
  bottom: 9px;
  left: 58px;
  width: 14px;
}

::placeholder {
  color: #bababa;
  opacity: 1;
  font-family: var(--mainFont);
  font-size: 10px;
  font-weight: 400;
}

.labelDetails {
  font-size: 8px;
  font-weight: 400px;
}

.leftForm {
  max-width: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.rightForm {
  max-width: 240px;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.accentColor {
  color: var(--accent);
}

.faded {
  opacity: 0.5;
}

/*IDs*/
#editPanelMain {
  position: relative;
}

#map {
  position: relative;
  height: 33vh;
  margin: -50px 0 0;
  background-color: #f2f2f2;
  resize: vertical;
  overflow: auto;
}

.editLoadHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--white);
  z-index: 3;
  padding: 4px 0 0 0;
}

.loadInfoHeader {
  padding: 0 32px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: var(--white);
  z-index: 3;
}


#editLoadContainer {
  background: white;
  padding: 4px 18px 8px 64px;
}
/*form ids*/
#editPanelMain .load {
  width: 59px;
}

#editPanelMain .status,
#editPanelMain .dispatcher,
#editPanelMain .salesrep {
  width: 106px;
}

#editPanelMain .bill {
  width: 133px;
}

#editPanelMain .assignTo {
  width: 114px;
}

#editPanelMain .equipment {
  width: 170px;
}

#editPanelMain .truck,
#editPanelMain .trailer {
  width: 53px;
}

#editPanelMain .workorder {
  width: 92px;
}

#editPanelMain .carrierfee {
  width: 66px;
}

#editPanelMain .currency {
  width: 42px;
}

#editPanelMain .type,
#editPanelMain .picks-drops {
  width: 67px;
}

#editPanelMain .rate {
  width: 58px;
}

#editPanelMain .othercharges {
  width: 88px;
}

#editPanelMain .fuel {
  width: 85px;
}

#editPanelMain .ratepercent {
  width: 30px;
  border: none;
}

#editPanelMain .rate2,
#editPanelMain .percent {
  width: 44px;
}

#editPanelMain .shipper {
  width: 100px;
}

#editPanelMain .shipLocation {
  width: 180px;
}

#editPanelMain .shipDate {
  width: 76px;
}

#editPanelMain .shipDescription {
  width: 223px;
}

#editPanelMain .shipType {
  width: 110px;
}

#editPanelMain .shipWeight {
  width: 74px;
}

#editPanelMain .shipQTY {
  width: 39px;
}

#editPanelMain .shipPOs {
  width: 66px;
}

#editPanelMain .shipCustomsBroker {
  width: 97px;
}

#editPanelMain .shipValue {
  width: 50px;
}

#editPanelMain .shipNotes {
  width: 229px;
}

#editPanelMain .shipQty {
  width: 39px;
}
/* animations */

.checkInNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

@media (max-width: 859px) {
  .notesContainer {
    width: 100vw;
  }

  .fileContainer {
    width: 100vw;
  }

  .defaultNotesContainer {
    width: 100vw;
  }
}
