@charset "utf-8";

html {
  box-sizing: border-box;
  background: white;
}

.fileContainer,
.reportFileContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

filesMain {
  width: 33vw;
  height: 100vh;
  margin: 0;
  background: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

#uploadContainer {
  width: auto;
  height: 160px;
  background: #ffffff;
  border: 1px dashed #bababa;
  border-radius: 4px;
  margin: 60px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Containers */
.greyFileSize {
  min-height: 100vh;
}

.whiteBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 100%;
  border-radius: 4px;
  background: #ffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  padding: 0 16px 0 20px;
  margin: 10px 0;
}

.filesContent {
  display: flex;
  flex-direction: column;
  height: auto;
}

/* IDs */
#filesContainer {
  position: relative;
  min-height: 100%;
  padding: 8px 27px 8px 27px;
}

#uploadContainer {
  width: auto;
  height: 160px;
  background: #ffffff;
  border: 1px dashed #bababa;
  border-radius: 4px;
  margin: 60px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Containers */
.greyFileSize {
  min-height: 100vh;
}

.whiteBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  width: 100%;
  border-radius: 4px;
  background: #ffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  padding: 0 16px 0 20px;
}

.filesContent {
  display: flex;
  flex-direction: column;
  height: auto;
}

/*Classes*/

.closeFiles {
  width: 40px;
  height: 40px;
  z-index: 3;
  margin-right: 16px;
}

.orangeItalic {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  text-decoration-line: underline;
  color: var(--accent);
}

.greyMedium {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  color: #bababa;
}

.textSpacing {
  margin: 4px;
}

.fileText {
  font-size: 10px;
  color: var(--primaryColor);
}

.bold {
  font-weight: bold;
}

.uploadFileContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 120px;
}

/*Header*/
.spanLeft {
  display: flex;
  align-items: center;
}

.filesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: inherit;
  background: #ffff;
  padding: 12px 27px 12px 12px;
  top: 0;
  z-index: 6;
  border-radius: 20px 0 0 0;
}

/* Add New Panel */
/* .addNewContainer {
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
} */

@media (max-width: 768px) {
  #filesHeader {
    width: 100vw;
  }
}

@media (max-width: 859px) {
  .addNewContainer {
    width: 100vw;
  }
}
