header {
  position: absolute;
  width: 100%;
  height: 89px;
  left: 0;
  top: 0;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.17);
  background: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamButton {
  margin: 27.5px;
}

.hamStyle {
  width: 23px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
}

.header {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: row;
}

.userNumber {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #bababa;
  margin: 0 4px;
}

.userStatus {
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

.userStatusActive {
  color: var(--accent);
  font-weight: 700;
  margin: 0 4px;
  font-style: italic;
}

.truckPosition {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  margin: 0 14px 0 4px;
  font-weight: 400;
  font-size: 12px;
}

.companyLoggedIn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.editAccount {
  height: 22px;
  width: 6px;
  margin: 16px;
}

.accountLogo {
  height: auto;
  max-height: 35px;
}

button#hamButton,
#editAccount {
  background-color: var(--primaryColor);
  border: none;
  padding: 0;
}

@media (max-width: 768px) {
  .userInfo {
    display: none;
  }
}
