.myAccountContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 3;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.myAccountTitleGap {
  gap: 8px;
}

.myAccountUserInfo {
  margin-bottom: 50px;
}

.changePassword {
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  margin-bottom: 20px;
}

.myAccountRow2 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid #bababa;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.myAccountRow3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.myAccountSaveBtn {
  width: 45px;
  height: 26px;
  border-radius: 4px;
  background-color: var(--primaryColor);
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.myAccountSaveBtn:hover,
.myAccountSaveBtn:focus {
  background-color: var(--primaryHover);
}

.logOutBtn {
  height: 26px;
  width: 68px;
  border-radius: 4px;
  color: #ffffff;
  background: var(--primaryColor);
}

.logOutBtn:focus,
.logOutBtn:hover {
  background: var(--primaryHover);
}

.myAccountSaveRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.myAccountTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  color: var(--primaryColor);
}

.myAccountName {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
}

.myAccountCompany {
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 20px;
  color: #bababa;
}

.myAccountTitleEmail {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.myAccountPanelPadding {
  margin: 92px 28px 28px;
  display: flex;
  flex-direction: column;
}

.accountImg {
  height: 62px;
  width: 62px;
  margin-right: 8px;
}

.myAccountFirstName {
  width: 202px;
}

.myAccountLastName {
  width: 214px;
}

.myAccountUsername {
  width: 170px;
}

.myAccountEmail {
  width: 248px;
}

.myAccountOrganization {
  width: 276px;
}

.myAccountRole {
  width: 126px;
}

.myAccountTelephone {
  width: 196px;
}

.myAccountExt {
  width: 62px;
}

.myAccountTelephone2 {
  width: 150px;
}

.myAccountBusinessAddress {
  width: 426px;
}

.myAccountCountry {
  width: 170px;
}

.myAccountCity {
  width: 136px;
}

.myAccountZip {
  width: 100px;
}

.myAccountPassword {
  width: 276px;
}

/* when display is flex, text and img center align  */
.wrongPw {
  color: #c50000;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-decoration: underline;
  display: none;
}

.wrongPwImg {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}
