@charset "utf-8";

.notesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100%;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

html {
  box-sizing: border-box;
  background: white;
}

notesPanelMain {
  width: 33vw;
  height: 100%;
  margin: 0;
  background: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

body > notesPanelMain {
  font-family: Montserrat;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  color: var(--primaryColor);
  margin: 0;
  height: 100vh;
}
/* IDs */
#panelsContainer {
  position: relative;
  height: 100%;
  padding: 0 26px 8px 12px;
}

.notesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  top: 0;
  height: 60px;
  border-radius: 8px;
}

/*Classes*/
.closeNotes,
.closeNotesTwo {
  width: 40px;
  height: 40px;
  margin: 0 16px 0 0;
}

.notesGreySize {
  margin: 28px 0 0 16px;
  height: 90vh;
}

.spanRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.appearCheckBox {
  margin: 0 4px 0 16px;
}

.indicatorMargin {
  margin: 10px 0 10px 0;
}

.topIndicatorMargin {
  margin: 0 0 10px 0;
}

.notesTypeContainer {
  padding: 0 0 30px 0;
  border-bottom: 0.5px solid #cccccc;
}

.addNewButton {
  width: 62px;
  height: 22px;
  background: #61717d;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  padding: 0;
}

.addNewButton:hover {
  background: var(--primaryHover);
}

.addNewNote {
  background: var(--accent);
  color: #ffffff;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  padding: 0;
  font-size: 9px;
  margin: 4px;
}

.notesImg {
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
}

@media (max-width: 768px) {
  #Header {
    width: 22%;
  }
}
