@charset "utf-8";
:root {
  --primaryColor: #5a7284;
  --primaryHover: #344d61;
  --secondary: #f2f2f2;
  --accent: #f4901f;
  --accentHover: #da780a;
  --white: #fff;
  --mainFont: Montserrat, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* classes */
.loginInput {
  background: rgba(0, 0, 0, 0);
  border: 2px solid var(--white);
  border-radius: 4px;
  height: 56px;
  width: 100%;
  color: var(--white);
  padding: 0 16px;
  font-size: 18px;
}
.login_a {
  color: var(--white);
  text-decoration: none;
}
.loginLabel {
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
}
.signInBtn {
  background: var(--accent);
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
  height: 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signInBtn:hover {
  background: var(--accentHover);
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.labelContainer {
  display: flex;
  justify-content: space-between;
}
.checkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.rememberLabel {
  font-family: var(--mainFont);
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}
.centerContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}
.orange {
  color: var(--accent);
}
.help {
  text-decoration: underline;
  font-style: italic;
}
.forgotPw {
  color: #bababa;
}
.orange {
  color: var(--accent);
}
.underline {
  text-decoration: underline;
}
.returnLogin {
  text-decoration: underline;
  color: var(--white);
}
.bold {
  font-weight: 600;
}
.help {
  text-decoration: underline;
  font-style: italic;
}
.forgotPw {
  color: #bababa;
}
/* IDs */
#loginMain {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#loginHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
}
#loginFormContainer {
  max-width: 480px;
  margin: 0 8%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#loginBackground {
  background: url(/img/login/loginBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Montserrat;
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  color: var(--white);
  height: 100vh;
  margin: 0px;
}
#title {
  font-family: var(--mainFont);
  font-weight: 800;
  font-size: 48px;
  color: var(--white);
  line-height: 48px;
  margin-bottom: 16px;
}
#resetBtn {
  width: 240px;
  margin: 0 24px 16px 0;
}

@media screen and (max-width: 400px) {
  #resetBtn {
    width: 100%;
  }
}
