.reportsContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 3;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.reportNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.reportsFormContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 12px 0;
}

.flexGrow {
  flex-grow: 1;
}

.alignBase {
  align-items: baseline;
}

.generateRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.searchRow {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
}

.otherReportsRow1 {
  max-width: 387px;
  margin-bottom: 16px;
}

.generate {
  margin-left: 18px;
}

.thirdWidth {
  width: 33%;
}

.checkGrid {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;
}

/* form inputs */
.userReport {
  width: 116px;
}

.userYear {
  width: 46px;
}

.userExternalCarrier {
  width: 139px;
}
