.promptBackground {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sessionBackground {
  background: rgba(248, 247, 247, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.promptContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--mainFont);
  background: var(--primaryColor);
  border: none;
  border-radius: 10px;
  height: 158px;
  width: 284px;
  position: relative;
  margin: auto;
  top: 30vh;
  box-shadow: 4px 4px 7px rgba(90, 114, 132, 0.25);
  z-index: 10;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--mainFont);
  background: #787878;
  border: none;
  border-radius: 10px;
  height: 158px;
  width: 284px;
  position: relative;
  margin: auto;
  top: 30vh;
  box-shadow: 4px 4px 7px rgba(90, 114, 132, 0.25);
  z-index: 10;
}

.unsavedChanges {
  color: #ffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
}

.promptMessage {
  color: #ffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-indent: 8px;
}

.promptSave {
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  background: var(--accent);
  border-radius: 8px;
  border: none;
  height: 30px;
  width: 102px;
}

.promptDontSave {
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 7px;
  background: var(--primaryColor);
  height: 30px;
  width: 102px;
}

.promptButtons {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.promptSave:hover {
  background: var(--accentHover);
}

.promptDontSave:hover {
  background: #344d61;
}

@media (max-width: 768px) {
  .promptContainer {
    position: absolute;
    left: -100px;
  }
}
