.milageContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}
.viewReceiptsContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}
.generateReportContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 50vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.IFTAOrangeBtn {
  width: 112px;
  height: 21px;
  background: #f4901f;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.IFTAOrangeBtn:hover {
  background: var(--accentHover);
}

.btnRow1 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin: 16px 0 18px 0;
}

.IFTAGreyContainer {
  border-radius: 8px;
  background: #f2f2f2;
  box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  height: 47vh;
  z-index: 2;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.IFTAMap {
  position: relative;
  height: 33vh;
  background-color: #f2f2f2;
  resize: vertical;
  overflow: auto;
}

.searchFilters {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.IFTAWhiteBar {
  height: 59px;
  background: #ffffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.iftaLoadNum {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  width: 65px;
}

.iftaLoadDates {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iftaLoadCalender {
  height: 20px;
  width: 20px;
}

.iftaLoadDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #f4901f;
}

.iftaLoadMiles {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iftaLoadODO {
  font-size: 16px;
  font-weight: 700;
}

.iftaLoadMile {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.iftaLoadDisplayMiles {
  width: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iftaLoadDisplayMile {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.iftaSpeedometer {
  width: 22px;
  height: 20px;
}

.iftaLoadJourney {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.iftaLoadFlag {
  width: 12px;
  height: 20px;
}

.iftaLoadCity {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.iftaEditLoadBtn {
  padding: 0;
  background: none;
}

.iftaEditLoadImg {
  height: 22px;
  width: 20px;
}

.iftaButtonRowContainer {
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.iftaButtonRow {
  gap: 8px;
}

.iftaAdjustMilageBtn {
  width: 100px;
  height: 21px;
  background: var(--primaryColor);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.iftaAdjustMilageBtn:hover {
  background: var(--primaryHover);
}

.iftaFooterBtns {
  background: none;
  padding: 0;
  height: 22px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.iftaFooterBtns:hover {
  background: var(--primaryHover);
}

.iftaFooterMilage {
  width: 100px;
}

.iftaFooterReceipts {
  width: 92px;
}

.iftaFooterMilage {
  width: 112px;
}

.IFTAFooter {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: flex-end;
  z-index: 3;
}
