.deleteBtn {
  padding: 0;
  border: none;
  background: none;
  margin: 2px 0 0 0;
}

.whiteBarIFTA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  background: #ffff;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
  padding: 4px 8px 4px 16px;
  margin-bottom: 10px;
}

.receiptloadNum {
  width: 100px;
}

.equalInputWidth {
  width: 72px;
}
