<div class="mainTop">
  <div class="flexRow">
    <h6 class="mainTitle">ACCOUNTING</h6>
  </div>
  <span class="accountSearchContainer">
    <div class="invoiceFactoring flexRow">
      <img src="/img/adminMain/logoPartial.svg">
      <div>INVOICE FACTORING</div>
    </div>
    <select id="searchBy" class="accountSelector">
      <option>Load Number</option>
      <option>Customer</option>
      <option>Driver</option>
      <option>Carrier</option>
      <option>Invoice Number</option>
      <option>Other Number</option>
    </select>
    <button class="filterSelectArrow2">
      <img id="searchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
    </button>
    <input id="search" class="search searchDispatchSize" placeholder="Search Dispatch">
    <a class="help">Help</a>
  </span>
</div>
<div class="flexRow">
  <div class="paySelector">
    <div id="currentPayManager" class="selectedPayManager">General Pay Manager</div>
    <div id="payManager" class="selectOption">Carrier Pay Manager</div>
  </div>
  <button id="managerToggle" class="accountDropDownSelector">
    <img src="/img/accounting/dropDownOrange.svg">
  </button>
</div>
<div class="flexRow accountRow2">
  <div class="flexRow accountCheckFilters">
    <label class="labelSelectors">
      <input class="greyCheckBox checkSelectors" type="checkbox">Delivered
    </label>
    <label class="labelSelectors">
      <input class="greyCheckBox checkSelectors" type="checkbox">Completed
    </label>
    <label class="labelSelectors">
      <input class="greyCheckBox checkSelectors" type="checkbox">Invoiced
    </label>
    <label class="labelSelectors">
      <input class="greyCheckBox checkSelectors" type="checkbox">Exported
    </label>
    <label class="labelSelectors">
      From:<input type="date" class="accountDateInput" required>
    </label>
    <label class="labelSelectors">
      To:<input type="date" class="accountDateInput" required>
    </label>
    <button id="openExport" class="accountExportBtn">EXPORT</button>
  </div>
  <div class="center-y">
    <div class="sortBy">Sort By:</div>
    <select class="sortBySelector">
      <option class="">Recently Added</option>
      <option class="">Customer A-Z</option>
      <option class="">Driver Carrier</option>
      <option class="">Load Number</option>
      <option class="">Status</option>
      <option>Show All</option>
    </select>
    <button class="filterSelectArrow">
      <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
    </button>
  </div>
</div>
<div class="resultsContent">
  <div class="mobileNewLoad">
    <button class="newLoad">NEW LOAD</button>
    <a class="mobileHelp">Help</a>
  </div>

  <!-- Load Bars  -->
  <div class="accountBlueBar">
    <div class="flexRow blueLoadTitleGroup">
      <div class="blueLoadTitle">Load Number</div>
      <div class="blueLoadTitle">Delivered</div>
      <div class="blueLoadTitle">Completed</div>
      <div class="blueLoadTitle">Customer</div>
      <div class="blueLoadTitle">Driver/Carrier</div>
      <div class="blueLoadTitle">Billing Amount</div>
      <div id="" class="blueLoadTitle2 carrierPay">Paid</div>
      <div id="" class="blueLoadTitle2 carrierPay">Exported</div>
    </div>
    <div class="accountLoadStatus">Status</div>
  </div>
  <div class="accountWhiteBar">
    <div class="flexRow accountLoadInfo">
      <div class="whiteLoadInfoContainers">8002</div>
      <div class="whiteLoadInfoContainers">09/13/21</div>
      <div class="whiteLoadInfoContainers">09/13/21</div>
      <div class="whiteLoadInfoContainers">Idaho Packing</div>
      <div class="whiteLoadInfoContainers">Peter Rabbit</div>
      <div class="whiteLoadInfoContainers">$1600</div>
      <div id="" class="whiteLoadInfoContainers2 carrierPay">info</div>
      <div id="" class="whiteLoadInfoContainers2 carrierPay">test</div>
    </div>
    <div class="flexRow accountRightLoadContainer">
      <div class="accountDelivered">DELIVERED <img src="/img/accounting/dropDownArrowGreen.svg"></div>
      <div class="accountLoadBtnsContainer">
        <button class="accountLoadBtns"><img class="accountLoadBtns" src="/img/editLoadPanel/printIcon.svg"></button>
        <button id="loadInfo" class="accountLoadBtns"><img class="accountLoadBtns" src="/img/accounting/editAccountLoad.svg"></button>
        <button id="accountingSummary" class="accountLoadBtns"><img class="accountLoadBtns" src="/img/accounting/adminBillingOrange.svg"></button>
      </div>
    </div>
  </div>
</div>

<!-- Panels to Load  -->
<footer id="footer"></footer>
<div class="promptSaveChanges">
  <div id="promptUnsavedChanges"></div>
</div>
<div class="exportContainer">
  <div id="exportPanel"></div>
</div>
<div class="loadInfoContainer">
  <div id="loadInfoPanel"></div>
</div>
<div class="exportHistoryContainer">
  <div id="exportHistoryPanel"></div>
</div>
<div class="accountingSummaryContainer">
  <div id="accountingSummaryPanel"></div>
</div>
<div class="reportsContainer">
  <div id="reportsPanels"></div>
</div>
<div class="reportNotesContainer">
  <div id=reportsNotesPanel></div>
</div>
<div class="addNotesContainer">
  <div id="addLoadInfoNotesPanel"></div>
  <div id="addReportsNotesPanel"></div>
</div>
<div class="reportFileContainer">
  <div id=reportsFilePanel></div>
</div>
<div class="defaultNotesContainer">
  <div id="defaultLoadInfoNotesPanel"></div>

  <div id=defaultReportsNotesPanel></div>
</div>
<div class="myAccountContainer">
  <div id=myAccountPanel></div>
</div>


<!-- <div class="addNewContainer">
  <div id="addNewPanel"></div>
</div> -->
<div class="notesContainer">
  <div id="loadInfoNotesPanel"></div>
</div>
<!-- <div class="addNotesContainer">
  <div id="addLoadInfoNotesPanel"></div>
</div> -->
<div class="fileContainer">
  <div id="loadInfoFilePanel"></div>
</div>
<!-- <div class="defaultNotesContainer">
  <div id="defaultLoadInfoNotesPanel"></div>
</div> -->
<div class="addCustomersContainer">
  <div id="addCustomersPanel"></div>
</div>
<div class="addShippersContainer">
  <div id="addShippersPanel"></div>
</div>
<div class="addReceiverContainer">
  <div id="addReceiverPanel"></div>
</div>
<!-- Accounting specific javascript -->
<script src="/js/accounting/accountingMain.js"></script>
<script src="/js/accounting/exportPanel.js"></script>
<script src="/js/accounting/exportHistoryPanel.js"></script>
<script src="/js/accounting/accountSummary.js"></script>
<script src="/js/accounting/loadInfo.js"></script>
<!-- Common Javascript -->

<script src="/js/notesPanel.js"></script>
<script src="/js/filesPanel.js"></script>
<script src="/js/defaultNotes.js"></script>
<script src="/js/addNotes.js"></script>
<script src="/js/reportsPanel.js"></script>
<script src="/js/myAccount.js"></script>
<script src="/js/customCheckBox.js"></script>
<script src="/js/admin/addShippersPanel.js"></script>
<script src="/js/admin/addReceiver.js"></script>
<script src="/js/admin/addNewCustomers.js"></script>