<div class="flexColumn">
  <div class="headerFlex">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closePreferences" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="subheadingContainer">
        <div class="mediumPanelsTitle">ACCOUNTING SUMMARY REPORT • <span class="orange">ID: 102124</span>
        </div>
        <div class="subheadingItalic">The following information has been summarized</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="filePanelBtn" href=#><img class="icon" src="/img/editLoadPanel/printIcon.svg"></a></li>
      <li class="nav-link"><a id="savePreferences" href=# class="primaryButton panelSaveButton">DOWNLOAD</a></li>
    </div>
  </div>
  <div class="summaryContainer">
    <div id="USDCustomers" class="tableContainer">
      <div class="summaryHeader">
        <div class="mediumHeading">$USD CUSTOMERS</div>
        <div class="mediumHeading">Export Date:<span class="light"> 10/29/2021</span></div>
      </div>
      <table class="accountSummaryTable">
        <thead>
          <tr>
            <th>Invoice</th>
            <th>Load</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Total Rate</th>
            <th>Advance</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 USD</td>
            <td>99,999.99 USD</td>
            <td>$2,080.00 USD</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="footSubHeader">From:</th>
            <th></th>
            <th class="footSubHeader">To:</th>
            <th></th>
            <th></th>
            <th class="footHeader">Total Balance:</th>
            <th class="footHeader">$2,080.00 USD</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div id="CADCustomers" class="tableContainer">
      <div class="summaryHeader">
        <div class="mediumHeading">$CAD CUSTOMERS</div>
        <div class="mediumHeading">Export Date:<span class="light"> 10/29/2021</span></div>
      </div>
      <table class="accountSummaryTable">
        <thead>
          <tr>
            <th>Invoice</th>
            <th>Load</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Total Rate</th>
            <th>Advance</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 USD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
          <tr>
            <td>7958</td>
            <td>7958</td>
            <td>09/13/21</td>
            <td>Idaho Packing</td>
            <td>$2,080.00 CAD</td>
            <td>99,999.99 CAD</td>
            <td>$2,080.00 CAD</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="footSubHeader">From:</th>
            <th></th>
            <th class="footSubHeader">To:</th>
            <th></th>
            <th></th>
            <th class="footHeader">Total Balance:</th>
            <th class="footHeader">$2,080.00 CAD</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>
</div>