<panel>
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="closeExportHistory" class="stockBtn"><img class="closeExport" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle flexRow">
        <div id="editCustomerTitle">EXPORT HISTORY</div>
      </div>
    </span>
    <button id="exportHistorySave" class="orangeButton saveButton">SAVE</button>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flex-row exportRow">
      <div>
        <label class="panelLabelMargin">From</label>
        <input type="date" id="" class="exportDateFormat">
      </div>
      <div>
        <label class="panelLabelMargin">To</label>
        <input type="date" id="" class="exportDateFormat"></select>
      </div>
      <div>
        <label class="panelLabelMargin">Export ID</label>
        <input type="text" id="" class="exportID" placeholder="#">
      </div>
      <button class="exportBtn">SEARCH</button>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="whiteBar whiteBarSize">
        <div class="flexRow textSemiLight center-y"><img class="whiteBarImgSize" src="/img/adminMain/myNumbersAdmin.svg">1104</div>
        <div class="flexRow textSemiLight center-y"><img class="whiteBarImgSize" src="/img/adminMain/trucksAdmin.svg">VOLVO</div>
        <div class="flexRow textSemiLight center-y">Exported:<div class="orangeStyled textSpacing">10/23/19 10:21:04</div>
        </div>
        <div>
          <button id="print" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/printIcon.svg"></button>
        </div>
      </div>
    </div>
  </div>
</panel>