<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft buttonGap">
      <button id="closeExport" class="stockBtn"><img class="closeExport" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle customerTitleSpacing flexRow">
        <div id="editCustomerTitle">EXPORT</div>
      </div>
    </span>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flex-row headingContainer">
      <div class="columnHeading">Export to Accounting Software</div>
    </div>
    <div class="exportRow1">
      <div class="flexColumn fullWidth">
        <label class="panelLabelMargin">File Format</label>
        <select class="exportFileFormat"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Amount</label>
        <input class="exportAmount">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">USD Account</label>
        <input class="exportUSDAccount">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Date Format</label>
        <input class="exportDateFormat">
      </div>
      <div class=flex-row>
        <div class="flexColumn">
          <label class="panelLabelMargin">Line Item Title</label>
          <input class="exportItemTitle">
        </div>
        <div class="flexRow">
          <input type="checkbox" class="inlineCheck">
          <label class="inlineCheck greyItalic">I prefer to not use standard advances,<br>and deduct the advance off the invoice</label>
        </div>
      </div>
    </div>
    <div class="flex-row exportRow">
      <div class="">
        <label class="panelLabelMargin">From:</label>
        <input type="date" id="" class="" required>
      </div>
      <div>
        <label class="panelLabelMargin">To:</label>
        <input type="date" id="" class="" required></select>
      </div>
    </div>
    <div class="flexRow center-y buttonGap exportBottomBtns">
      <button class="exportBtn">EXPORT</button>
      <button id="exportHistoryBtn" class="historyBtn">HISTORY</button>
    </div>
    <div class="line"></div>
    <div class="flex-row">
      <div class="columnHeading">Export Summary</div>
    </div>
    <div class="flexRow buttonGap exportRow">
      <div>
        <select id="" class="exportDateFormat"></select>
      </div>
      <button class="exportBtn">PREVIEW </button>
    </div>
  </div>
</div>