<editPanelMain>
  <div id="editPanelMain">
    <nav class="nav loadInfoHeader">
      <div class="flexRow center-y buttonGap">
        <a href="#"><img class="closeLoad" src="/img/editLoadPanel/exitIcon.svg" /></a>
        <div>
          <span id="editLoadTitle" class="title">LOAD INFORMATION</span>
        </div>
      </div>
      <div class="nav">
        <li class="nav-link">
          <a id="filePanelBtn" href="#"><img class="icon" src="/img/editLoadPanel/fileIcon.svg" /></a>
        </li>
        <li class="nav-link">
          <a id="notesPanelBtn" href="#"><img class="icon" src="/img/editLoadPanel/notesIcon.svg" /></a>
        </li>
        <li class="nav-link">
          <a href="#"><img class="icon" src="/img/editLoadPanel/printIcon.svg" /></a>
        </li>
        <li class="nav-link">
          <a id="loadSave" href="#" class="primaryButton saveButton">SAVE</a>
        </li>
      </div>
    </nav>
    <div id="editLoadContainer">

      <div class="formContainer1">
        <div class="leftForm">
          <div class="input-container">
            <div><label for="load">Load #</label></div>
            <input type="text" id="load" name="load" class="load" />
          </div>
          <div class="input-container">
            <div><label for="status">Status</label></div>
            <select id="status" class="status">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container">
            <div>
              <label for="bill">Bill To</label>
              <img id="addCustomerBtn" src="/img/editLoadPanel/pencilIcon.svg" class="pencilIcon" />
            </div>
            <input type="text" id="bill" name="bill" class="bill" />
          </div>
          <div class="input-container">
            <div class="label-container">
              <div>
                <input type="checkbox" class="labelCheck smallGreyCheckBox" />
                <label for="assignTo">Driver</label>
              </div>
              <div>
                <input type="checkbox" style="margin: 0;" class="labelCheck smallGreyCheckBox" />
                <label class="accentColor">Carrier</label>
              </div>
            </div>
            <input type="text" id="assignTo" name="assignTo" placeholder="Assign Later" class="assignTo" />
          </div>
          <div class="input-container">
            <div><label for="equipment">Equipment Type</label></div>
            <select id="equipment" class="equipment">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container">
            <div><label for="truck">Truck #</label></div>
            <input type="text" id="truck" name="truck" class="truck" />
          </div>
          <div class="input-container">
            <div><label for="trailer">Trailer #</label></div>
            <input type="text" id="trailer" name="trailer" class="trailer" />
          </div>
          <div class="input-container">
            <div><label for="disaptcher">Dispatcher</label></div>
            <select id="dispatcher" class="dispatcher">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container">
            <div><label for="salesrep">Sales Rep</label></div>
            <select id="salesrep" class="salesrep">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container">
            <div>
              <label for="workorder" class="accentColor">Work Order</label>
              <!-- <img src="/img/editLoadPanel/pencilIcon.svg" class="pencilIcon"> -->
            </div>
            <select id="workorder" class="workorder">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container faded">
            <div><label for="carrierfee">Carrier Fee</label></div>
            <input type="text" id="carrierfee" name="carrierfee" class="carrierfee" />
          </div>
          <div class="input-container faded">
            <div><label for="currency">Currency</label></div>
            <select id="currency" class="currency">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
        </div>
        <div class="rightForm">
          <div class="input-container">
            <div><label for="type" class="accentColor">Type</label></div>
            <select id="type" class="type">
              <option value="" disabled selected></option>
              <option>option</option>
            </select>
          </div>
          <div class="input-container">
            <div><label for="rate" class="accentColor">Rate</label></div>
            <input type="text" id="rate" name="rate" class="rate" />
          </div>
          <div class="input-container">
            <div><label for="othercharges">Other Charges</label></div>
            <input type="text" id="othercharges" name="othercharges" class="othercharges" />
          </div>
          <div class="input-container">
            <div><label for="picks-drops">Picks/Drops</label></div>
            <input type="text" id="picks-drops" name="picks-drops" class="picks-drops" />
          </div>
          <div class="input-container">
            <div><label for="fuel">Fuel Surcharge</label></div>
            <input type="text" id="fuel" name="fuel" class="fuel" />
          </div>
          <div class="input-container">
            <div><label for="ratepercent">Rate %</label></div>
            <input type="text" id="ratepercent" name="ratepercent" class="ratepercent" />
          </div>
          <div class="input-container">
            <div><label for="rate2">Rate</label></div>
            <input type="text" id="rate2" name="rate2" class="rate2" />
          </div>
          <div class="input-container">
            <div><label for="percent">Percent</label></div>
            <input type="text" id="percent" name="percent" class="percent" />
          </div>
        </div>
      </div>
      <div id="shipperForm" class="formContainer tabContainer">
        <div class="tabsContainer">
          <img src="/img/editLoadPanel/startFlag.svg" class="flagIcon" />
          <button id="shipperOne" class="shipperTab selected">
            Shipper One
          </button>
          <button class="shipperTab">Shipper Two</button>
          <img src="/img/editLoadPanel/plusBtn.svg" class="plusBtn" />
        </div>
        <div class="loadShipperContainer">
          <div class="leftForm">
            <div class="input-container">
              <div>
                <label for="shipper">Shipper</label>
                <img id="addShipperBtn" src="/img/editLoadPanel/pencilIcon.svg" class="pencilIcon" />
              </div>
              <input type="text" id="shipper" name="shipper" class="shipper" />
            </div>
            <div class="input-container">
              <div>
                <label for="location">Location</label>
                <span class="labelDetails">(Address, City, State)</span>
              </div>
              <input type="text" id="shipLocation" name="Location" class="shipLocation" />
            </div>
            <div class="input-container">
              <div><label for="date" class="accentColor">Date</label></div>
              <div>
                <input type="date" id="shipDate" name="Date" required />
                <span class="inputTime">11:00AM MST</span>
              </div>
            </div>
            <div class="input-container">
              <div><label for="description">Description</label></div>
              <input type="text" id="shipDescription" name="description" class="shipDescription" />
            </div>
            <div class="input-container">
              <div>
                <label for="type">Type</label>
                <span class="labelDetails">(TL, LTL, Pallets etc.)</span>
              </div>
              <input type="text" id="shipType" name="Type" class="shipType" />
            </div>
            <div class="input-container">
              <div>
                <label for="weight">Weight</label>
                <span class="labelDetails">(lbs)</span>
              </div>
              <input type="text" id="shipWeight" name="weight" class="shipWeight" />
            </div>
            <div class="input-container">
              <div><label for="qty">QTY</label></div>
              <input type="text" id="shipQty" name="qty" class="shipQty" />
            </div>
          </div>

          <div class="rightForm">
            <div class="input-container">
              <div><label for="pos">P.O.'s</label></div>
              <input type="text" id="shipPOs" name="pos" class="shipPOs" />
            </div>
            <div class="input-container">
              <div><label for="customsbroker">Customs Broker</label></div>
              <input type="text" id="shipCustomsBroker" name="customsbroker" class="shipCustomsBroker" />
            </div>
            <div class="input-container">
              <div><label for="shipValue">Value</label></div>
              <input type="text" id="shipValue" name="shipValue" class="shipValue" />
            </div>
            <div class="input-container">
              <div><label for="shipNotes">Shipping Notes</label></div>
              <input type="text" id="shipNotes" name="shipNotes" class="shipNotes" />
            </div>
          </div>
        </div>
        <button class="deleteForm">
          <div>x</div>
        </button>
      </div>

      <div id="receiverForm" class="formContainer tabContainer">
        <div class="tabsContainer">
          <img src="/img/dispatchPage/flagFinish.svg" class="flagIcon" />
          <button class="receiverTab selected">Receiver One</button>
          <button class="receiverTab">Receiver Two</button>
          <img src="/img/editLoadPanel/plusBtn.svg" class="plusBtn" />
        </div>

        <div class="loadReceiverContainer">
          <div class="leftForm">
            <div class="input-container">
              <div>
                <label for="shipper">Receiver</label>
                <img id="addReceiverBtn" src="/img/editLoadPanel/pencilIcon.svg" class="pencilIcon" />
              </div>
              <input type="text" id="shipper" name="shipper" class="shipper" />
            </div>
            <div class="input-container">
              <div>
                <label for="location">Location</label>
                <span class="labelDetails">(Address, City, State)</span>
              </div>
              <input type="text" id="shipLocation" name="Location" class="shipLocation" />
            </div>
            <div class="input-container">
              <div><label for="date" class="accentColor">Date</label></div>
              <div>
                <input type="date" id="shipDate" name="Date" required />
                <span class="inputTime">11:00AM MST</span>
              </div>
            </div>

            <div class="input-container">
              <div><label for="description">Description</label></div>
              <input type="text" id="shipDescription" name="description" class="shipDescription" />
            </div>
            <div class="input-container">
              <div>
                <label for="type">Type</label>
                <span class="labelDetails">(TL, LTL, Pallets etc.)</span>
              </div>
              <input type="text" id="shipType" name="Type" class="shipType" />
            </div>
            <div class="input-container">
              <div>
                <label for="weight">Weight</label>
                <span class="labelDetails">(lbs)</span>
              </div>
              <input type="text" id="shipWeight" name="weight" class="shipWeight" />
            </div>
            <div class="input-container">
              <div><label for="qty">QTY</label></div>
              <input type="text" id="shipQty" name="qty" class="shipQty" />
            </div>
          </div>

          <div class="rightForm">
            <div class="input-container">
              <div><label for="pos">P.O.'s</label></div>
              <input type="text" id="shipPOs" name="pos" class="shipPOs" />
            </div>
            <div class="input-container">
              <div><label for="customsbroker">Customs Broker</label></div>
              <input type="text" id="shipCustomsBroker" name="customsbroker" class="shipCustomsBroker" />
            </div>
            <div class="input-container">
              <div><label for="shipValue">Value</label></div>
              <input type="text" id="shipValue" name="shipValue" class="shipValue" />
            </div>

            <div class="input-container">
              <div><label for="shipNotes">Shipping Notes</label></div>
              <input type="text" id="shipNotes" name="shipNotes" class="shipNotes" />
            </div>
          </div>
        </div>
        <button class="deleteForm">
          <div>x</div>
        </button>
      </div>
    </div>
  </div>
</editPanelMain>
<!-- Panels -->
<!-- <div class="addNewContainer">
  <div id="addNewPanel"></div>
</div>
<div class="notesContainer">
  <div id="loadInfoNotesPanel"></div>
</div>
<div class="addNotesContainer">
  <div id="addLoadInfoNotesPanel"></div>
</div>
<div class="fileContainer">
  <div id="loadInfoFilePanel"></div>
</div>
<div class="defaultNotesContainer">
  <div id="defaultLoadInfoNotesPanel"></div>
</div>
<div class="addCustomersContainer">
  <div id="addCustomersPanel"></div>
</div>
<div class="addShippersContainer">
  <div id="addShippersPanel"></div>
</div>
<div class="addReceiverContainer">
  <div id="addReceiverPanel"></div>
</div> -->