<addNotesMain id="addNotesMain">
  <div class="addNotesHeader">
    <span class="spanLeft">
      <a href=#><img class="closeAddNotes" src="/img/editLoadPanel/exitIcon.svg"></a>
      <div id="titleChange" class="title">ADD NOTE</div>
    </span>
    <span class="spanLeft">
      <button id="addNotesSave" class="orangeButton saveButton">SAVE</button>
    </span>
  </div>

  <div id="addNotesContainer">

    <div class="noteHeader">
      <div class="spanRow">
        <div id="titleChange" class="orangeUnderline spanRow">Driver Pay Notes</div>
        <div class="mediumText spanRow"><input class="appearCheckBox" type="checkbox">Appear on Report</div>
      </div>
      <span id="noteNum">#7992</span>
    </div>
    <div class="flexRow buttonGap center-y">
      <div class="newTitle">Note Title:</div>
      <input class="newNoteTitle" type="text">
    </div>
    <div class="note">
      <label id="hideLabel">New Note</label>
      <textarea id="newNote" name="newNote" placeholder="Start typing here to add a a note..." maxlength="300" autofocus>
        </textarea>
    </div>

    <div id="charCount">
      <span id="current">0</span>
      <span id="maximum">/ 300</span>
    </div>

  </div>

</addNotesMain>