<checkInMain id="checkInPanelMain">
  <div id="panelsContainer">
    <div class="checkInHeader">
      <span class="spanLeft">
        <a href=#><img class="closeCheckIn" src="/img/editLoadPanel/exitIcon.svg"></a>
        <div class="panelsTitle">Check In</div>
      </span>
      <span class="spanLeft gapTen">
        <button id="openNotes" class="orangeFile"><img class="orangeFile" src="/img/editLoadPanel/OrangeFiles.svg"></button>
        <button id="checkInSave" class="orangeButton saveButton">SAVE</button>
      </span>
    </div>
    <span class="checkInBody flexColumn">
      <span class="checkInTop">
        <div class="boldText">Update location</div>
        <div class="locationInput flexColumn">
          <label class="lightText panelLabelMargin">City/state</label>
          <input id="cityState">
        </div>
      </span>
      <span class="checkInContent">
        <span>
          <label class="boldText textSpacing fontSizeMedium">Location Check-Ins</label>
          <label class="lightText fontItalic fontSizeMedium">(Recently Added)</label>
        </span>
        <div class="middleContainer">
          <div class="greyContainer checkInGreySize">
            <div class="whiteBar">
              <div class="heavyOrange">Dallas TX</div>
              <div class="mediumText">Recorded:<span class="orangeLight textSpacing">Sept 3rd, 11:00AM MST</span></div>
            </div>
          </div>
        </div>
      </span>
      <span class="checkInContent">
        <div class="flexColumn">
          <label class="boldText textSpacing">Receipts</label>
          <div class="checkInUPload">
            <span class="orangeItalic">Choose a file</span><span class="greyMedium textSpacing"> or drag it here</span><img src="/img/uploadIcon.svg">
          </div>
          <!-- <button class="orangeButton uploadButton">UPLOAD FILE</button> -->
        </div>
        <div class="greyContainer checkInGreySize">
          <span class="whiteBar">
            <div class="lightText smallText">Receipt 03</div>
            <div class="mediumText">uploaded<span class="orangeLight textSpacing">12/27/19</span></div>
            <a class="viewReceipts">View</a>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </span>
        </div>
      </span>
    </span>
  </div>
</checkInMain>