<div class="promptBackground">
  <div class="promptContainer">
    <span class="unsavedChanges">Logout?</span>
    <span class="promptMessage">Are you sure you want to<br>
    logout of eCapital TMS?</span>
    <span class="promptButtons">
      <button id="cancel" class="promptDontSave">CANCEL</button>
      <button id="yesLogout" class="promptSave">YES</button>
    </span>
  </div>
</div>