<defaultNotesMain id="defaultNotesMain">
  <div class="defaultNotesHeader">
    <span class="spanLeft">
      <button id="closeDefaultNotes" class="stockBtn"><img src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle defaultNotesTitle">DEFAULT NOTES</div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveDefaultNotes" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="flexColumn defaultInputSpacing">
      <label class="panelLabelMargin flexRow">Invoice Notes<div class="defaultSideNote">(Printed on Invoice)</div></label>
      <input class="defaultNotesInput">
    </div>
    <div class="flexColumn">
      <label class="panelLabelMargin flexRow">Load Sheet Notes<div class="defaultSideNote">(Printed on Load Sheet)</div></label>
      <input class="defaultNotesInput">
    </div>
  </div>
</defaultNotesMain>