<div class="mainTop">
  <h6 class="mainTitle">DISPATCH BOARD</h6>
  <span class="searchContainer">
    <input id="search" class="search searchDispatchSize" placeholder="Search Dispatch" />
    <a class="help">Help</a>
  </span>
</div>
<div class="dispatchSelectors">
  <div class="flexRow filterRowGap">
    <button class="newLoad">NEW LOAD</button>
    <label class="labelSelectors">
      <input class="checkSelectors greyCheckBox" type="checkbox" /><img class="cautionImg" src="/img/dispatchPage/exclamationMark.svg" />
    </label>
    <label class="labelSelectors">
      <input class="checkSelectors greyCheckBox" type="checkbox" />Active
    </label>
    <label class="labelSelectors">
      <input class="checkSelectors greyCheckBox" type="checkbox" />Pending
    </label>
    <label class="labelSelectors">
      <input class="checkSelectors greyCheckBox" type="checkbox" />Completed
    </label>
  </div>
  <div>
    <div class="center-y">
      <div class="sortBy">Sort By:</div>
      <select class="sortBySelector">
        <option class="">Recently Added</option>
        <option class="">Customer A-Z</option>
        <option class="">Driver Carrier</option>
        <option class="">Load Number</option>
        <option class="">Status</option>
        <option>Show All</option>
      </select>
      <button class="filterSelectArrow">
        <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
      </button>
      <img class="pcmillerlogo" style="margin-left: 15px" src="/img/dispatchPage/pcmiler-logo.svg" />
    </div>
  </div>
</div>
<div class="resultsContent">
  <div class="mobileNewLoad">
    <button class="newLoad">NEW LOAD</button>
    <a class="mobileHelp">Help</a>
  </div>

  <!-- Load Bars  -->
  <div class="loads">
    <div class="loadInfo container loadCompany">
      Pro Coat Systems<a style="color: #787878">7992</a>
    </div>
    <div class="loadInfo inline red loadAssign">
      <img class="loadStatusImgs" src="/img/dispatchPage/exclamationMarkRed.svg" />Assign Later
    </div>
    <div class="checkIn">
      <a class="checkInA"><img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In</a>
    </div>
    <div class="loadLocationsContainer">
      <div class="loadInfo loadStart">
        <img class="flags" src="/img/dispatchPage/flagGreen.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">MOBILE MINI</span><span class="locationTime">Scottsdale,AZ-11/12/2020</span>
        </div>
      </div>
      <img class="arrow" src="/img/dispatchPage/arrowRight.svg" />
      <div class="loadInfo loadEnd">
        <img class="flags" src="/img/dispatchPage/flagFinish.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">MACE STEEL</span><span class="locationTime">Atlanta, GA-11/15/2020</span>
        </div>
      </div>
    </div>
    <div class="statusCheckInContainer">
      <div class="mobileCheckIn">
        <a class="checkInA">
          <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
        </a>
      </div>
      <div class="loadInfo inline loadStatusContainer">
        <img class="loadStatusImgs" src="/img/dispatchPage/statusIcon.svg" />
        <div class="loadStatus">
          <span>Status:</span>
          <span class="statusOpen">OPEN</span>
        </div>
        <button class="statusBtn">
          <img class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
        </button>
      </div>
    </div>
    <div class="editLoadContainer">
      <button id="editLoad" class="editLoad"></button>
    </div>
  </div>

  <div class="loads">
    <div class="loadInfo container loadCompany">
      testing<a style="color: #787878">7992</a>
    </div>
    <div class="loadInfo inline red loadAssign">
      <img class="loadStatusImgs" src="/img/dispatchPage/exclamationMarkRed.svg" />Assign Later
    </div>
    <div class="checkIn">
      <a class="checkInA"><img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In</a>
    </div>
    <div class="loadLocationsContainer">
      <div class="loadInfo loadStart">
        <img class="flags" src="/img/dispatchPage/flagGreen.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">smaller text</span><span class="locationTime">Scottsdale,AZ-11/12/2020</span>
        </div>
      </div>
      <img class="arrow" src="/img/dispatchPage/arrowRight.svg" />
      <div class="loadInfo loadEnd">
        <img class="flags" src="/img/dispatchPage/flagFinish.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">MACE STEEL</span><span class="locationTime">Atlanta, GA-11/15/2020</span>
        </div>
      </div>
    </div>
    <div class="statusCheckInContainer">
      <div class="mobileCheckIn">
        <a class="checkInA">
          <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
        </a>
      </div>
      <div class="loadInfo inline loadStatusContainer">
        <img class="loadStatusImgs" src="/img/dispatchPage/statusIcon.svg" />
        <div class="loadStatus">
          <span>Status:</span>
          <span class="statusCovered">COVERED</span>
        </div>
        <button class="statusBtn">
          <img class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
        </button>
      </div>
    </div>
    <div class="editLoadContainer">
      <button id="editLoad" class="editLoad"></button>
    </div>
  </div>
  <div class="loads">
    <div class="loadInfo container loadCompany">
      Test<a style="color: #787878">1234</a>
    </div>
    <div class="loadInfo inline red loadAssign">
      <img class="loadStatusImgs" src="/img/dispatchPage/exclamationMarkRed.svg" />Assign Later
    </div>
    <div class="checkIn">
      <a class="checkInA">
        <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
      </a>
    </div>
    <div class="loadLocationsContainer">
      <div class="loadInfo loadStart">
        <img class="flags" src="/img/dispatchPage/flagGreen.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">Shipper 1</span><span class="locationTime">Dallas TX-2021-10-28</span>
        </div>
      </div>
      <img class="arrow" src="/img/dispatchPage/arrowRight.svg" />
      <div class="loadInfo loadEnd">
        <img class="flags" src="/img/dispatchPage/flagFinish.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">Receiver 1</span><span class="locationTime">Dallas TX-2021-10-28</span>
        </div>
      </div>
    </div>
    <div class="statusCheckInContainer">
      <div class="mobileCheckIn">
        <a class="checkInA">
          <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
        </a>
      </div>
      <div class="loadInfo inline loadStatusContainer">
        <img class="loadStatusImgs" src="/img/dispatchPage/statusIcon.svg" />
        <div class="loadStatus">
          <span>Status:</span>
          <span class="statusOpen">ACTIVE</span>
        </div>
        <button class="statusBtn">
          <img class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
        </button>
      </div>
    </div>
    <div class="editLoadContainer">
      <button id="editLoad" class="editLoad"></button>
    </div>
  </div>

  <div class="loads">
    <div class="loadInfo container loadCompany">
      Test2<a style="color: #787878">1234</a>
    </div>
    <div class="loadInfo inline red loadAssign">
      <img class="loadStatusImgs" src="/img/dispatchPage/exclamationMarkRed.svg" />Assign Later
    </div>
    <div class="checkIn">
      <a class="checkInA">
        <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
      </a>
    </div>
    <div class="loadLocationsContainer">
      <div class="loadInfo loadStart">
        <img class="flags" src="/img/dispatchPage/flagGreen.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">Shipper 2</span><span class="locationTime">Seattle WA-2021-10-28</span>
        </div>
      </div>
      <img class="arrow" src="/img/dispatchPage/arrowRight.svg" />
      <div class="loadInfo loadEnd">
        <img class="flags" src="/img/dispatchPage/flagFinish.svg" />
        <div class="loadInfo container">
          <span class="loadCompany">Receiver 2</span><span class="locationTime">Houston TX-2021-10-28</span>
        </div>
      </div>
    </div>
    <div class="statusCheckInContainer">
      <div class="mobileCheckIn">
        <a class="checkInA">
          <img class="checkInImg" src="/img/dispatchPage/locationIconYellow.svg" />Check In
        </a>
      </div>
      <div class="loadInfo inline loadStatusContainer">
        <img class="loadStatusImgs" src="/img/dispatchPage/statusIcon.svg" />
        <div class="loadStatus">
          <span>Status:</span>
          <span class="statusOpen">ACTIVE</span>
        </div>
        <button class="statusBtn">
          <img class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
        </button>
      </div>
    </div>
    <div class="editLoadContainer">
      <button id="editLoad" class="editLoad"></button>
    </div>
  </div>
</div>
<!-- </div>
</main> -->
<footer>
  <div>Showing 20 - 30 of 192 records</div>
  <div class="pageController">
    <div class="pageController">
      <button id="backFive"><img src="/img/footer/backFive.svg" /></button>
      <button id="backOne"><img src="/img/footer/backOne.svg" /></button>
      <span class="pageController">
        <div class="currentPage">2</div>
        of 23 pages
      </span>
      <button id="forwardOne"><img src="/img/footer/forwardOne.svg" /></button>
      <button id="forwardFive">
        <img src="/img/footer/forwardFive.svg" />
      </button>
    </div>
  </div>
</footer>

<!-- panels to load -->
<div class="panelContainer">
  <div id="editLoadPanel"></div>
</div>
<div class="checkInContainer">
  <div id="checkInPanel"></div>
</div>
<div class="promptSaveChanges">
  <div id="promptUnsavedChanges"></div>
</div>
<div class="addNotesContainer">
  <div id="addNotesPanel"></div>
</div>
<div class="defaultNotesContainer">
  <div id=defaultCheckInNotesPanel></div>
</div>
<div class="fileContainer">
  <div id="filePanel"></div>
</div>
<div class="notesContainer">
  <div id="notesPanel"></div>
</div>
<div class="reportsContainer">
  <div id="reportsPanels"></div>
</div>
<div class="myAccountContainer">
  <div id="myAccountPanel"></div>
</div>
<div class="confirmLogoutContainer">
  <div id="confirmLogout"></div>
</div>

<!-- Javascript shared with other pages  -->
<!-- <script src="/js/sideBar.js"></script> -->
<script src="/js/dropDown.js"></script>
<script src="/js/addNotes.js"></script>
<script src="/js/charCount.js"></script>
<script src="/js/defaultNotes.js"></script>
<script src="/js/filesPanel.js"></script>
<script src="/js/notesPanel.js"></script>
<script src="/js/notesTwo.js"></script>
<script src="/js/reportsPanel.js"></script>
<script src="/js/myAccount.js"></script>
<script src="/js/customSelector.js"></script>
<script src="/js/customCheckBox.js"></script>
<script src="/js/admin/addShippersPanel.js"></script>
<script src="/js/admin/addReceiver.js"></script>
<script src="/js/admin/addNewCustomers.js"></script>
<script src="/js/customCheckBox.js"></script>


<!-- Javascript for dispatchBoard  -->
<script src="/js/dispatchBoard.js"></script>
<script src="/js/checkIn.js"></script>
<script src="/js/editLoadPanel.js"></script>