<filesMain id="filesPanelMain">
  <div class="filesHeader">
    <span class="spanLeft">
      <button class="noBtnStyle"><img class="closeFiles" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="title">FILES</div>
    </span>
    <!-- <span class="spanLeft">
      <button id="saveFiles" class="orangeButton saveButton">SAVE</button>
    </span> -->
  </div>

  <div id="filesContainer">
    <div id="uploadContainer">
      <span class="orangeItalic">Choose a file</span><span class="greyMedium textSpacing"> or drag it here</span><img src="/img/uploadIcon.svg">
    </div>
    <div class="filesContent">
      <div class="greyContainer greyFileSize">
        <div class="infoScrollContainer">
          <div class="whiteBar">
            <div class="uploadFileContainer">
              <img src="/img/editLoadPanel/uploadedFileIcon.svg">
              <div class="fileText">examplefile.jpeg</div>
            </div>
            <div class="fileText bold">Uploaded:<span class="orangeLight textSpacing">10/23/19</span></div>
            <div class="fileText bold">Modified:<span class="orangeLight textSpacing">12/27/19</span></div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</filesMain>