<div>Showing 20 - 30 of 192 records</div>
<div class="pageController">
  <div class="pageController">
    <button id="backFive"><img src="/img/footer/backFive.svg"></button>
    <button id="backOne"><img src="/img/footer/backOne.svg"></button>
    <span class="pageController">
      <div class="currentPage">2</div>of 23 pages
    </span>
    <button id="forwardOne"><img src="/img/footer/forwardOne.svg"></button>
    <button id="forwardFive"><img src="/img/footer/forwardFive.svg"></button>
  </div>
  <a id="helpFooter">Help</a>
</div>