<div class="header">
  <button id="hamButton" class="hamButton">
    <div class="hamStyle"></div>
    <div id="hamStyle" class="hamStyle"></div>
    <div class="hamStyle"></div>
  </button>
  <img src="/img/header/logo.svg">
</div>
<div class="header">
  <span class="userInfo">
    <div class="companyLoggedIn">Goat Transport & Logistics<span class="userNumber">TN1231</span></div>
    <div class="userStatus">- Status:<span class="userStatusActive">Active</span>-</div>
    <div class="truckPosition">TRUCK LAST</div>
  </span>
  <button id="myAccountBtn" class="myAccountBtn">
    <img class="accountLogo" src="/img/header/userAccount.svg">
  </button class="myAccountBtn">
</div>

<!-- <script src="/js/sideBar.js"></script> -->