﻿<div id="loginBackground">
  <div id="loginHeader">
    <img src="/img/header/logo.svg">
    <a href="#" class="login_a"><span class="help">Help</span></a>
  </div>
  <div id="loginMain">
    <div id="loginFormContainer" action="action_page.php" method="post">
      <span id="title">Sign In</span>
      <div class="inputContainer">
        <label class="loginLabel" for="email">Email</label>
        <input class="loginInput" type="text" name="email" required>
      </div>
      <div class="inputContainer">
        <div class="labelContainer">
          <label class="loginLabel" for="pw">Password</label>
          <span><a href="#" class="login_a forgotPw">Forgot password?</a></span>
        </div>
        <input class="loginInput" type="password" name="pw" required>
      </div>
      <div class="loginWrongPw">
        <img class="loginWrongPwImg" src="/img/dispatchPage/exclamationMarkRed.svg">
        <div>Email or Password Incorrect.<br>
        Try again or click Forgot password to reset it.</div>
      </div>
      <div class="loginWrongPw">
        <img class="loginWrongPwImg" src="/img/dispatchPage/exclamationMarkRed.svg">
        <div>This email does not match our records. Please try again.</div>
      </div>
      <div class="loginWrongPw">
        <img class="loginWrongPwImg" src="/img/dispatchPage/exclamationMarkRed.svg">
        <div>This Username does not exist in our records.<br>
        Please try again.</div>
      </div>
      <button class="signInBtn" type="submit">Sign In</button>
      <div class="centerContainer">
        <div class="checkContainer">
          <input id="rememberMe" type="checkbox" checked="checked" name="remember">
          <label class="rememberLabel">Remember me</label>
        </div>
      </div>
      <div class="centerContainer">
        <span>By clicking Sign In, I agree to <a href="#" class="orange">E-CAPITAL's Terms</a>, including the payment terms, and <a href="#" class="orange">Privacy Policy</a>.</span>
      </div>
    </div>
  </div>
</div>