<panel>
  <div class="HeaderNarrow">
    <span class="spanLeft myAccountTitleGap">
      <button id="closeMyAccount" class="stockBtn"><img class="closeAddShipper" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="myAccountTitle">MY ACCOUNT</div>
    </span>
    <button id="logout" class="logOutBtn">
      <div>Log Out</div>
    </button>
  </div>
  <div class="myAccountPanelPadding">
    <div class="flexRow myAccountUserInfo">
      <div class="accountImg"><img src="/img/stockUserPhoto.svg"></div>
      <div class="flexColumn">
        <div class="myAccountName">John Doe</div>
        <div class="myAccountCompany">John Doe Trucking</div>
        <div class="myAccountTitleEmail">jd@jdtrucking.com</div>
      </div>
    </div>
    <div class="myAccountRow2">
      <div class="flexColumn">
        <label class="panelLabelMargin">First Name</label>
        <input class="myAccountFirstName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Last Name</label>
        <input class="myAccountLastName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Username</label>
        <input class="myAccountUsername">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Email</label>
        <input class="myAccountEmail">
      </div>
    </div>
    <div class="myAccountRow2">
      <div class="flexColumn">
        <label class="panelLabelMargin">Organization</label>
        <input class="myAccountOrganization">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Role</label>
        <input class="myAccountRole">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Telephone</label>
        <input class="myAccountTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Ext.</label>
        <input class="myAccountExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Telephone</label>
        <input class="myAccountTelephone2">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Business Address</label>
        <input class="myAccountBusinessAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Country</label>
        <select class="myAccountCountry"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">City/State</label>
        <input class="myAccountCity">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Zip/Postal</label>
        <input class="myAccountZip">
      </div>
    </div>
    <div class="changePassword">Change Password</div>
    <div class="myAccountRow3">
      <div class="flexColumn">
        <label class="panelLabelMargin">Current Password</label>
        <input class="myAccountPassword">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">New Password</label>
        <input class="myAccountPassword">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Confirm Password</label>
        <input class="myAccountPassword">
      </div>
      <div class="wrongPw"><img class="wrongPwImg" src="/img/dispatchPage/exclamationMarkRed.svg">Password confirmation does not match password</div>
    </div>
    <div class="myAccountSaveRow">
      <button id="saveMyAccount" class="myAccountSaveBtn">Save</button>
    </div>
  </div>
</panel>
