<notesPanelMain id="notesPanelMain">
  <div id="panelsContainer">
    <div id="Header">
      <span class="spanLeft">
        <a href=#><img class="closeNotesTwo" src="/img/editLoadPanel/exitIcon.svg"></a>
        <span class="panelsTitle">NOTES</span>
      </span>
      <span class="spanRow buttonGap">
        <button class="addNewButton">ADD NEW</button>
        <button id="notesTwoSave" class="orangeButton saveButton">SAVE</button>
      </span>
    </div>
    <div class="greyContainer notesGreySize">
      <span class="notesTypeContainer">
        <div class="spanRow spaceBetween topIndicatorMargin">
          <div class="spanRow">
            <div class="mediumText spanRow">Driver Pay Notes<button id="addNote" class="addNewNote">+</button></div>
            <div class="mediumText spanRow"><input class="appearCheckBox" type="checkbox">Appear on Report</div>
          </div>
          <div>#7992</div>
        </div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><img class="notesImg" src="/img/editLoadPanel/Notes.svg">Driver Pay</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow"><div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div></div>
          <button class="deleteInfoBtn">
            <div>x</div>
          </button>
        </div>
        </div>
      </span>
      <span class="notesTypeContainer">
        <div class="indicatorMargin">
          <div class="spanRow">
            <div class="mediumText spanRow">Invoice Notes<button id="defaultNotes" class="addNewNote">+</button></div>
            <div class="mediumText spanRow"><input class="appearCheckBox" type="checkbox">Appear on Report</div>
          </div>
        </div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><img class="notesImg" src="/img/editLoadPanel/Notes.svg">Invoice Notes</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow">
            <div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div>
            </div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
        </div>
      </span>
      <span class="notesTypeContainer">
        <div class="mediumText indicatorMargin">Deleted Notes<button id="addDeletedNoteBtn" class="addNewNote">+</button></div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><img class="notesImg" src="/img/editLoadPanel/Notes.svg">Deleted Notes</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow">
            <div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div>
            </div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
      </span>
    </div>
  </div>
</notesPanelMain>