<notesPanelMain id="notesPanelMain">
  <div id="panelsContainer">
    <div class="notesHeader">
      <span class="spanLeft">
        <a href=#><img class="closeNotes" src="/img/editLoadPanel/exitIcon.svg"></a>
        <span class="panelsTitle">NOTES</span>
      </span>
      <!-- <span class="spanRow buttonGap">
        <button  class="addNewButton">ADD NEW</button>
        <button id="notesSave" class="orangeButton saveButton">SAVE</button>
      </span> -->
    </div>
    <div class="greyContainer notesGreySize">
      <span class="notesTypeContainer">
        <div class="spanRow spaceBetween topIndicatorMargin">
          <div class="spanRow">
            <div class="mediumText spanRow">Driver Pay Notes<button id="addNotesBtn" class="addNewNote">+</button></div>
            <div class="mediumText spanRow"><input class="appearCheckBox" type="checkbox">Appear on Report</div>
          </div>
          <div>#7992</div>
        </div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><button class="noBtnStyle" id="editNotesBtn"><img class="notesImg" src="/img/editLoadPanel/notesIcon.svg"></button>Driver Pay</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow">
            <div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div>
            </div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
        </div>
      </span>
      <span class="notesTypeContainer">
        <div class="indicatorMargin">
          <div class="spanRow">
            <div class="mediumText spanRow">Invoice Notes<button id="defaultNotesBtn" class="addNewNote">+</button></div>
            <div class="mediumText spanRow"><input class="appearCheckBox" type="checkbox">Appear on Report</div>
          </div>
        </div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><button class="noBtnStyle" id="editNotesBtn"><img class="notesImg" src="/img/editLoadPanel/notesIcon.svg"></button>Invoice Notes</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow">
            <div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div>
            </div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
        </div>
      </span>
      <span class="notesTypeContainer">
        <div class="mediumText indicatorMargin">Deleted Notes<button id="addDeletedNotesBtn" class="addNewNote">+</button></div>
        <div class="whiteBar">
          <div class="lightText smallText noteTitleContainer spanRow"><button class="noBtnStyle" id="editNotesBtn"><img class="notesImg" src="/img/editLoadPanel/notesIcon.svg"></button>Example Title</div>
          <div class="mediumText noteTitleContainer spanRow">Saved:<div class="orangeLight textSpacing">10/23/19</div>
          </div>
          <div class="mediumText buttonGap spanRow">
            <div class="spanRow">Modified:<div class="orangeLight textSpacing">12/27/19</div>
            </div>
            <button class="deleteInfoBtn">
              <div>x</div>
            </button>
          </div>
        </div>
      </span>
    </div>
  </div>
</notesPanelMain>