﻿<div id="loginBackground">
  <div id="loginHeader">
    <img src="/img/header/logo.svg">
    <a href="#" class="login_a"><span class="help">Help</span></a>
  </div>
  <div id="loginMain">
    <div id="loginFormContainer">
      <div class="inputContainer">
        <span id="title">Reset Your Password</span>
        <span>We'll email you instructions to reset your password. If you don't have access to your email anymore, you can try <span class="orange bold underline">account recovery.</span>
      </div>
      <div class="inputContainer">
        <label for="email" class="loginLabel">Email or Username</label>
        <input type="text" class="loginInput" name="email" required>
      </div>
      <div>
        <button id="resetBtn" class="signInBtn" type="submit">Reset Password</button>
        <span><a href="/routes/login.html" class="returnLogin">Return to Login</a></span>
      </div>
    </div>
  </div>
</div>