<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="closeReports" class="stockBtn"><img class="closeAddShipper" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle">REPORTS</div>
    </span>
    <div class="nav">
      <li id="reportsSave" class="nav-link"><button class="orangeButton saveButton">SAVE</button></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="reportsFormContainer panelInputSpacing">
      <div class="boldText">Tax Reports</div>
      <div class="generateRow fullWidth panelInputSpacing ">
        <div class="flexColumn ">
          <label class="panelLabelMargin">Report</label>
          <select class="userReport "></select>
        </div>
        <div class="flexColumn ">
          <label class="panelLabelMargin">Year</label>
          <select class="userYear "></select>
        </div>
        <div class="flexColumn ">
          <label class="panelLabelMargin">External Carrier</label>
          <select class="userExternalCarrier"></select>
        </div>
        <button class="exportBtn generate">GENERATE</button>
      </div>
    </div>
    <div class="boldText IFTAForm">Other Reports</div>
    <div class="flex-row otherReportsRow1 panelInputSpacing ">
      <div class="flexColumn thirdWidth">
        <label class="panelLabelMargin">Category</label>
        <select class="fullWidth "></select>
      </div>
      <div class="flexColumn thirdWidth">
        <label class="panelLabelMargin">Customer</label>
        <select class="fullWidth "></select>
      </div>
      <div class="flexColumn thirdWidth">
        <label class="panelLabelMargin">Filter by</label>
        <select class="fullWidth"></select>
      </div>
    </div>

    <label>Display Options</label>

    <div class="checkGrid">
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Check All</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>P&D</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Truck #</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Load Type</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Sales Rep</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Trailer #</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>F.S.C.</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Miles</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Line Haul</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Weight</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Origin/Destination</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Carrier Pay</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>PO Numberes</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Additional Charges</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Driver Pay</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Net Profit</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Revenue</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Equipment Type</label>
      </div>
    </div>
    <div class="searchRow">
      <div class="flexRow panelInputSpacing">
        <div>
          <label class="panelLabelMargin">Search from:</label>
          <input type="date" id="" class="exportDateFormat">
        </div>
        <div>
          <label class="panelLabelMargin">To:</label>
          <input type="date" id="" class="exportDateFormat"></select>
        </div>
      </div>
      <div>
        <button class="exportBtn">GENERATE</button>
      </div>
    </div>

  </div>
</div>