<div class="promptBackground">
  <div class="promptContainer">
    <span class="unsavedChanges">Unsaved Changes</span>
    <span class="promptMessage">Are you sure you want to <br>discard these new changes? </span>
    <span class="promptButtons">
      <button id="promptDontSave" class="promptDontSave">DON'T SAVE</button>
      <button id="promptSave" class="promptSave">SAVE</button>
    </span>
  </div>
</div>