<div class="sessionBackground">
  <div class="sessionContainer">
    <span class="unsavedChanges">Your Session has Expired</span>
    <span class="promptMessage">Please sign in to your<br> eCapital TMS account.</span>
    <span class="promptButtons">
      <button id="cancel" class="promptDontSave">CANCEL</button>
      <button id="yesLogout" class="promptSave">SIGN IN</button>
    </span>
  </div>
</div>