<div class="capsule">
  <div class="sideBar" id="sideBar">
    <div id="dispatch" class="sideBarSelector dispatch">
      <div class="expanded">Dispatch</div>
    </div>
    <div id="administration" class="sideBarSelector administration">
      <div class="expanded">Administration<img id="dropArrow" src="/img/sideBar/dropDownArrow.svg"></div>
    </div>
    <ul id="adminDropDown">
      <li><img class="dropImg" src="/img/sideBar/customers.svg">Customers</li>
      <li><img class="dropImg" src="/img/sideBar/shippers.svg">Shippers</li>
      <li><img class="dropImg" src="/img/sideBar/receivers.svg">Receivers</li>
      <li><img class="dropImg" src="/img/sideBar/drivers.svg">Drivers</li>
      <li><img class="dropImg" src="/img/sideBar/trucks.svg">Trucks</li>
      <li><img class="dropImg" src="/img/sideBar/trailerIcon.svg">Trailers</li>
      <li><img class="dropImg" src="/img/sideBar/externalCarriers.svg">External Carriers</li>
      <li><img class="dropImg" src="/img/sideBar/customsBrokers.svg">Customs Brokers</li>
      <li><img class="dropImg" src="/img/sideBar/factoringCompanies.svg">Factoring Companies</li>
      <li><img class="dropImg" src="/img/sideBar/user.svg">Users</li>
      <li><img class="dropImg" src="/img/sideBar/otherNumbers.svg">Other Numbers</li>
      <li><img class="dropImg" src="/img/sideBar/preferences.svg">Preferences</li>
    </ul>
    <div id="accounting" class="sideBarSelector accounting">
      <div id class="expanded">Accounting<img id="dropArrow" src="/img/sideBar/dropDownArrow.svg"></div>
    </div>
    <div id="IFTA" class="sideBarSelector IFTA">
      <div class="expanded">IFTA</div>
    </div>
    <div id="Reports" class="sideBarSelector reports">
      <div class="expanded">Reports</div>
    </div>
  </div>
</div>