<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddBroker" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addBrokerTitle">
        <div id="editAddCustomBrokers">ADD</div>
        <div>CUSTOM BROKER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewBroker" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="customBrokerRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Broker Name<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Crossing<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerCrossing">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Toll Free<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerTollFree">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fax<div class="inputErrorSignal">*</div></label>
        <input class="addBrokerFax">
      </div>
    </div>
  </div>
</div>