<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddDriver" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addDriverTitle">
        <div id="editAddDriver">ADD</div>
        <div>DRIVER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewDriver" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="addDriverRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Name<div class="inputErrorSignal">*</div></label>
        <input class="driverName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Driver Type<div class="inputErrorSignal">*</div></label>
        <select class="driverType"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="driverTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Cell Phone<div class="inputErrorSignal">*</div></label>
        <input class="driverCell">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Email<div class="inputErrorSignal">*</div></label>
        <input class="driverEmail">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Address<div class="inputErrorSignal">*</div></label>
        <input class="driverAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Country<div class="inputErrorSignal">*</div></label>
        <input class="driverCountry">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">City/State<div class="inputErrorSignal">*</div></label>
        <input class="driverCity">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Postal/Zip<div class="inputErrorSignal">*</div></label>
        <input class="driverPostal">
      </div>
    </div>
    <div class="panelInputSpacing addDriverRow2">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Date of Hire<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">D.O.B<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">License No.<div class="inputErrorSignal">*</div></label>
        <input class="driverLicense">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Expiry Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Passport Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fast Card Expiry<div class="inputErrorSignal">*</div></label>
        <input class="driverFastCard">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Hazmat Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Last Medical<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Next Medical<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Last Drug Test<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Next Drug Test<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Termination Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Termination Reason<div class="inputErrorSignal">*</div></label>
        <input class="driverTerminationReason">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Internal Notes</label>
        <input class="driverInternalNotes">
      </div>
    </div>
    <div class="flexRow panelCheckBoxGap">
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Active</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Inactive</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Do Not Use</label>
      </div>
    </div>
  </div>
</div>