<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddFactoring" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addFactoringCo">
        <div id="editAddFactoringCo">ADD</div>
        <div>FACTORING CO.</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewFactoring" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="addCoRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Factoring Company Name<div class="inputErrorSignal">*</div></label>
        <input class="addCoName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Address<div class="inputErrorSignal">*</div></label>
        <input class="addCoAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Country<div class="inputErrorSignal">*</div></label>
        <select class="addCoCountry"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">City/State<div class="inputErrorSignal">*</div></label>
        <input class="addCoCity">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Zip<div class="inputErrorSignal">*</div></label>
        <input class="addCoZip">
      </div>
    </div>
    <div class="addCoRow2 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Primary Contact<div class="inputErrorSignal">*</div></label>
        <input class="addCoContact">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Email<div class="inputErrorSignal">*</div></label>
        <input class="addCoEmail">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="addCoTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="addCoExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Toll Free<div class="inputErrorSignal">*</div></label>
        <input class="addCoTollFree">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fax<div class="inputErrorSignal">*</div></label>
        <input class="addCoFax">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Payment Terms<div class="inputErrorSignal">*</div></label>
        <select class="addCoPayment"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Currency<div class="inputErrorSignal">*</div></label>
        <select class="addCoCurrency"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Tax<div class="inputErrorSignal">*</div></label>
        <input class="addCoTaxID">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Internal Notes</label>
        <input class="addCoNotes">
      </div>
    </div>
  </div>
</div>