<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddNumbers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle myNumberTitleContainer numberTitleGap">
        <div id="editAddNumber">ADD</div>
        <div>MY NUMBERS</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveAddNumbers" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="flexColumn">
      <div class="flexRow numberRowSpace">
        <div class="flexColumn">
          <label class="panelLabelMargin flexRow errorGap">Name<div class="inputErrorSignal">*</div></label>
          <input class="myNumberName">
        </div>
        <div class="flexRow center-y myNumberPadding">
          <input type="checkbox" class="">
          <label class="flexRow errorGap">Show this item on Dispatch Board</label>
        </div>
      </div>
      <div class="flexRow numberCheckBoxGap">
        <div class="flexRow center-y">
          <input type="checkbox" class="">
          <label class="flexRow errorGap">Active</label>
        </div>
        <div class="flexRow center-y">
          <input type="checkbox" class="">
          <label class="flexRow errorGap">Inactive</label>
        </div>
      </div>
    </div>
  </div>
</div>