<div class="flexColumn">
  <div class="addCustomerHeader">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeAddNewCustomers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle customerTitleSpacing flexRow">
        <div id="addOrEditCustomer">ADD</div>
        <div>CUSTOMER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><button id="addCustomersSave" class="orangeButton saveButton">SAVE</button></li>
    </div>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flex-row">
      <div class="input-container custName">
        <div><label class="flexRow errorGap" for="custName">Customer Name<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="custName" name="custName">
      </div>
      <div class="check-container inlineCheck">
        <input type="checkbox" id="broker" name="broker" class="orangeCheckBox">
        <label for="broker" class="orange underline">Broker</label>
      </div>
      <div class="input-container faded">
        <div><label for="mc"></label></div>
        <select id="mc" name="mc">
          <option value="MC" disabled selected> MC</option>
        </select>
      </div>
      <div class="inline-input-container faded">
        <input type="text" id="" name="FMSCA" class="FMSCA">
        <label for="FMSCA" class="orange underline">FMSCA</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="address">Address<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="address" name="address">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow country">
        <div><label class="flexRow errorGap" for="country">Country<div class="inputErrorSignal">*</div></label></div>
        <select id="country" name="country">
        </select>
      </div>
      <div class="input-container flexGrow state">
        <div><label class="flexRow errorGap" for="cityState">City/State<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="city-state" name="cityState">
      </div>
      <div class="input-container flexGrow zip">
        <div><label class="flexRow errorGap" for="zip">Zip<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="zip" name="zip">
      </div>
    </div>
    <div class="check-container">
      <div class="check-container">
        <input type="checkbox" id="addAsShipper" name="addAsShipper" class="orangeCheckBox">
        <label for="addAsShipper">Add as Shipper</label>
      </div>
      <div class="check-container">
        <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
        <label for="addAsRec">Add as Receiver</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="dispatchContact">Dispatch Contact<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="dispatchContact" name="dispatchContact">
      </div>
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="email">Email<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="email" name="email">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow tel">
        <div><label class="flexRow errorGap" for="telephone">Telephone<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="telephone" name="telephone">
      </div>
      <div class="input-container flexGrow ext">
        <div><label class="flexRow errorGap" for="email">Ext<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="email" name="email">
      </div>
      <div class="input-container flexGrow tel">
        <div><label class="flexRow errorGap" for="tollFree">Toll Free<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="tollFree" name="tollFree">
      </div>
      <div class="input-container flexGrow fax">
        <div><label class="flexRow errorGap" for="fax">Fax<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="fax" name="fax">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="dispatchNotes">Dispatch Notes<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="dispatchNotes" name="dispatchNotes">
      </div>
    </div>
    <div class="heading-row">
      <span class="bold">Billing Details</span>
      <div class="check-container headingCheckxx">
        <input type="checkbox" id="addAsShipper" name="addAsShipper" class="orangeCheckBox">
        <label for="addAsShipper">Same as Mailing Address</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="billingAddress">Billing Address<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="billingAddress" name="billingAddress">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow country">
        <div><label class="flexRow errorGap" for="country">Country<div class="inputErrorSignal">*</div></label></div>
        <select id="country" name="country">
        </select>
      </div>
      <div class="input-container flexGrow state">
        <div><label class="flexRow errorGap" for="cityState">City/State<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="city-state" name="cityState">
      </div>
      <div class="input-container flexGrow zip">
        <div><label class="flexRow errorGap" for="zip">Billing Zip<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="zip" name="zip">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="name">First and Last Name<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="firstLastName" name="firstLastName">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow ccNum">
        <div><label class="flexRow errorGap" for="ccNum">Card Number<div class="inputErrorSignal">*</div></label></div>
        <input id="ccNum" name="ccNum">
      </div>
      <div class="input-container flexGrow expDate">
        <div><label class="flexRow errorGap" for="expDate">Expiration Date<div class="inputErrorSignal">*</div></label></div>
        <input type="date" id="expDate" name="expDate" required>
        <!-- <img src="/img/editLoadPanel/calendarIcon.svg" class="inputExpDateIcon" required> -->
      </div>
      <div class="input-container flexGrow cvv">
        <div><label class="flexRow errorGap" for="cvv">CVV<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="cvv" name="cvv">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow ">
        <div><label class="flexRow errorGap" for="currency">Currency<div class="inputErrorSignal">*</div></label></div>
        <select id="billiing-currency" name="currency">
        </select>
      </div>
      <div class="input-container flexGrow terms">
        <div><label class="flexRow errorGap" for="terms">Terms<div class="inputErrorSignal">*</div></label></div>
        <select type="text" id="terms" name="terms">
        </select>
      </div>
      <div class="input-container flexGrow ">
        <div><label class="flexRow errorGap" for="creditLimit">Credit Limit<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="creditLimit" name="creditLimit" placeholder="$">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="salesRep">Sales Rep<div class="inputErrorSignal">*</div></label></div>
        <select type="text" id="salesRep" name="salesRep">
        </select>
      </div>
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="factoringCo">Factoring Co.<img class="smallPartialLogo" src="/img/adminMain/logoPartial.svg">
            <div class="inputErrorSignal">*</div>
          </label></div>
        <input type="text" id="factoringCo" name="factoringCo">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow thirdWidth">
        <div><label class="flexRow errorGap" for="fedID">Federal ID<div class="inputErrorSignal">*</div></label></div>
        <input id="" name="fedID">
      </div>
      <div class="input-container flexGrow thirdWidth">
        <div><label class="flexRow errorGap" for="workCompNum">Worker's Comp #<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="" name="workCompNum">
      </div>
      <div class="input-container flexGrow  thirdWidth">
        <div><label class="flexRow errorGap" for="website">Website<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="" name="website">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow fullWidth">
        <div><label for="internalNotes">Internal Notes</label></div>
        <textarea class="internalNotes" id="" name="internalNotes">
        </textarea>
      </div>
    </div>
    <div class="check-container">
      <div class="check-container ">
        <input type="checkbox" id="addAsShipper" name="addAsShipper" class="orangeCheckBox">
        <label for="addAsShipper">Active</label>
      </div>
      <div class="check-container ">
        <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
        <label for="addAsRec">Inactive</label>
      </div>
      <div class="check-container">
        <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
        <label for="addAsRec">Do Not Use</label>
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth faded">
        <div><label for="shippingHours">Shipping Hours</label></div>
        <input type="text" id="" name="shippingHours">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth faded">
        <div><label for="shipppingNotes">Shipping Notes </label></div>
        <textarea class="shippingNotes" id="shippingNotes">
        </textarea>
      </div>
    </div>
  </div>
</div>