<div class="flexComun">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddReceiver" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addReceiverTitle">
        <div id="editAddReceiver">ADD</div>
        <div>RECEIVER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveAddReceiver" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="flexColumn panelPadding panelInputSpacing">
    <div class="flexColumn panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Receiver Name<div class="inputErrorSignal">*</div></label>
        <input class="fullWidthInput">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Address<div class="inputErrorSignal">*</div></label>
        <input class="fullWidthInput">
      </div>
    </div>
    <div class="addReceiverRow2">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Country<div class="inputErrorSignal">*</div></label>
        <select class="receiverCountry"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">City/State<div class="inputErrorSignal">*</div></label>
        <input class="receiverCity">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Zip<div class="inputErrorSignal">*</div></label>
        <input class="receiverZip">
      </div>
      <div class="flexRow centerItems addAsShipperMargin">
        <input class="orangeCheckBox" type="checkbox">
        <label class="">Add as Shipper</label>
      </div>
    </div>
    <div class="addReceiverRow3">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Contact Name<div class="inputErrorSignal">*</div></label>
        <input class="receiverContact">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Email<div class="inputErrorSignal">*</div></label>
        <input class="receiverEmail">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="receiverTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="receiverExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Toll Free<div class="inputErrorSignal">*</div></label>
        <input class="receiverTollFree">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fax<div class="inputErrorSignal">*</div></label>
        <input class="receiverFax">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Receiver Hours<div class="inputErrorSignal">*</div></label>
        <input class="receiverHours">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Appointments<div class="inputErrorSignal">*</div></label>
        <select class="receiverAppointments"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Major Intersection/Direction<div class="inputErrorSignal">*</div></label>
        <input class="receiverDirection">
      </div>
    </div>
    <div class="flexRow panelCheckBoxGap addReceiverRow4">
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Active</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Inactive</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox" class="orangeCheckBox">
        <label>Do Not Use</label>
      </div>
    </div>
  </div>
</div>