<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeAddShipper" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle flexRow titleGap">
        <div id="editAddShipper">ADD</div>
        <div>SHIPPER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><button id="addShipperSave" class="orangeButton saveButton">SAVE</button></li>
    </div>
  </div>

  <div class="thirdPanelFormContainer">
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="shipperName">Shipper Name<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="shipperName" name="shipperName">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container fullWidth">
        <div><label class="flexRow errorGap" for="address">Address<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="" name="address">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow country">
        <div><label class="flexRow errorGap" for="country">Country<div class="inputErrorSignal">*</div></label></div>
        <select id="country" name="country">
        </select>
      </div>
      <div class="input-container flexGrow state">
        <div><label class="flexRow errorGap" for="cityState">City/State<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="city-state" name="cityState">
      </div>
      <div class="input-container flexGrow zip">
        <div><label class="flexRow errorGap" for="zip">Zip<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="zip" name="zip">
      </div>
    </div>
    <div class="check-container">
      <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
      <label for="addAsRec">Add as Receiver</label>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="contactName">Contact Name<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="contactName" name="contactName">
      </div>
      <div class="input-container flexGrow halfWidth">
        <div><label class="flexRow errorGap" for="email">Email<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="email" name="email">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow tel">
        <div><label class="flexRow errorGap" for="telephone">Telephone<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="telephone" name="telephone">
      </div>
      <div class="input-container flexGrow ext">
        <div><label class="flexRow errorGap" for="email">Ext<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="email" name="email">
      </div>
      <div class="input-container flexGrow tel">
        <div><label class="flexRow errorGap" for="tollFree">Toll Free<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="tollFree" name="tollFree">
      </div>
      <div class="input-container flexGrow fax">
        <div><label class="flexRow errorGap" for="fax">Fax<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="fax" name="fax">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow tel">
        <div><label class="flexRow errorGap" for="receiverHrs">Receiver Hours<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="receiverHrs" name="receiverHrs">
      </div>
      <div class="input-container flexGrow ">
        <div><label class="flexRow errorGap" for="appointments">Appointments<div class="inputErrorSignal">*</div></label></div>
        <select id="appointments" name="appointments">
        </select>
      </div>
      <div class="input-container flexGrow ">
        <div><label class="flexRow errorGap" for="direction">Major Intersection/Direction<div class="inputErrorSignal">*</div></label></div>
        <input type="text" id="direction" name="direction">
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow fullWidth">
        <div><label for="internalNotes">Internal Notes</label></div>
        <textarea class="internalNotes" id="" name="internalNotes">
              </textarea>
      </div>
    </div>
    <div class="flex-row">
      <div class="input-container flexGrow fullWidth">
        <div><label for="shippingNotes">Shipping Notes</label></div>
        <textarea class="internalNotes" id="" name="shippingNotes">
              </textarea>
      </div>
    </div>
    <div class="check-container">
      <div class="check-container ">
        <input type="checkbox" id="addAsShipper" name="addAsShipper" class="orangeCheckBox">
        <label for="addAsShipper">Active</label>
      </div>
      <div class="check-container ">
        <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
        <label for="addAsRec">Inactive</label>
      </div>
      <div class="check-container">
        <input type="checkbox" id="addAsReceiver" name="addAsReceiver" class="orangeCheckBox">
        <label for="addAsRec">Do Not Use</label>
      </div>
    </div>

  </div>
</div>