<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddTrailer" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addTrailerTitle">
        <div id="editAddTrailers">ADD</div>
        <div>TRAILER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewTrailer" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="panelInputSpacing trailerRow1">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Trailer Number<div class="inputErrorSignal">*</div></label>
        <input class="trailerNum ">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Trailer Type<div class="inputErrorSignal">*</div></label>
        <input class="trailerType">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">License Plate #<div class="inputErrorSignal">*</div></label>
        <input class="trailerPlateNum">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Plate Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Inspection Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">ownership<div class="inputErrorSignal">*</div></label>
        <select class="trailerOwnership"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Internal Notes</label>
        <input class="trailerNotes">
      </div>
    </div>
    <div class="boldText IFTAForm">IFTA Form</div>
    <div class="panelInputSpacing trailerRow2">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Model<div class="inputErrorSignal">*</div></label>
        <input class="trailerModel">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Axles<div class="inputErrorSignal">*</div></label>
        <input class="trailerAxles">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Year<div class="inputErrorSignal">*</div></label>
        <input class="trailerYear">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Registered State<div class="inputErrorSignal">*</div></label>
        <select class="trailerRegState"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Vehicle Identification<div class="inputErrorSignal">*</div></label>
        <input class="trailerIdentification textPlaceholderPadding" placeholder="#">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">DOT Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Activation Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
    </div>
    <div class="flexRow panelCheckBoxGap">
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Active</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Inactive</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Do Not Use</label>
      </div>
    </div>
  </div>
</div>