<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddTrucks" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle addTrucksTitle">
        <div id="editAddTrucks">ADD</div>
        <div>TRUCKS</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewTruck" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="addTruckRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Truck Number<div class="inputErrorSignal">*</div></label>
        <input class="truckNumber">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Truck Type<div class="inputErrorSignal">*</div></label>
        <input class="truckType">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">License Plate #<div class="inputErrorSignal">*</div></label>
        <input class="truckPlateNumber">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Plate Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Inspection Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ownership<div class="inputErrorSignal">*</div></label>
        <select class="truckOwnerShip"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Internal Notes</label>
        <input class="truckNotes">
      </div>
    </div>
    <div class="boldText IFTAForm">IFTA Form</div>
    <div class="addTruckRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Mileage<div class="inputErrorSignal">*</div></label>
        <input class="truckMileage">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Axles<div class="inputErrorSignal">*</div></label>
        <input class="truckAxles">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Year<div class="inputErrorSignal">*</div></label>
        <input class="truckYear">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fuel Type<div class="inputErrorSignal">*</div></label>
        <select class="truckFuel"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Start Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Deactivation Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexRow center-y includeTruckIFTA">
        <input type="checkbox">
        <label class="IFTACheckBoxMargin">Include this Truck for IFTA</label>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Insurance Provider<div class="inputErrorSignal">*</div></label>
        <input class="truckInsuranceProvider">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Reg. State<div class="inputErrorSignal">*</div></label>
        <select class="truckRegState"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Insurance Policy<div class="inputErrorSignal">*</div></label>
        <input class="truckInsurancePolicy textPlaceholderPadding" placeholder="#">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Insurance Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Empty/Gross Weight<div class="inputErrorSignal">*</div></label>
        <input class="truckWeight">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Vehicle Identification<div class="inputErrorSignal">*</div></label>
        <input class="truckIdentification textPlaceholderPadding" placeholder="#">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">DOT Expiry<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
    </div>
    <div class="flexRow panelCheckBoxGap">
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Active</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Inactive</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Do Not Use</label>
      </div>
    </div>
  </div>
</div>