<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeAddUser" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle userTitle">
        <div id="editAddUser">ADD</div>
        <div>USER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveNewUser" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="addUserRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Name<div class="inputErrorSignal">*</div></label>
        <input class="userName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Email<div class="inputErrorSignal">*</div></label>
        <input class="userEmail">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Address<div class="inputErrorSignal">*</div></label>
        <input class="userAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Country<div class="inputErrorSignal">*</div></label>
        <select class="userCountry"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">City/State<div class="inputErrorSignal">*</div></label>
        <input class="userState">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Zip<div class="inputErrorSignal">*</div></label>
        <input class="userZip">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="userTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="userExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Cell Phone<div class="inputErrorSignal">*</div></label>
        <input class="userCell">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fax<div class="inputErrorSignal">*</div></label>
        <input class="userFax">
      </div>
    </div>
    <div class="boldText IFTAForm">Permissions</div>
    <div class="flexRow userCheckBoxGap">
      <div class="flexRow">
        <div class="flexRow centerItems">
          <input type="checkbox">
          <label>Company Owner</label>
        </div>
        <div class="flexRow centerItems">
          <input type="checkbox">
          <label>Admin</label>
        </div>
        <div class="flexRow centerItems">
          <input type="checkbox">
          <label>Driver</label>
        </div>
        <div class="flexRow centerItems">
          <input type="checkbox">
          <label>Dispatcher</label>
        </div>
      </div>
      <button id="editPermissions" class="editPermissions">EDIT PERMISSIONS</button>
    </div>
  </div>
</div>