<div class="mainTop">
  <h6 class="mainTitle">ADMINISTRATION</h6>
  <span class="searchContainer">
    <!-- <a class="help">Help</a> -->
  </span>
</div>
<div class="centerMainContent">
  <div class="flexColumn centerItems">
    <span class="flexRow topImgRowPlacement">
      <div id="customersBttn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer customersAdmin"></div>Customers
      </div>
      <div id="shippersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer shippersAdmin"></div>Shippers
      </div>
      <div id="receiverBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer receiversAdmin"></div>Receivers
      </div>
      <div id="driversBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer driversAdmin"></div>Drivers
      </div>
      <div id="trucksBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer trucksAdmin"></div>Trucks
      </div>
      <div id="trailersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer trailersAdmin"></div>Trailers
      </div>
    </span>
    <span class="flexRow middleImgRowPlacement">
      <div id="externalCarriersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer externalCarriersAdmin"></div>External Carriers
      </div>
      <div id="customsBrokersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer customsBrokersAdmin"></div>Customs Brokers
      </div>
      <div id="factoringCompaniesBtn" class="flexColumn centerItems mainImgText factoringIndent">
        <div class="adminImgContainer factoringCompaniesAdmin"></div>Factoring<br>Companies
      </div>
      <div id="usersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer usersAdmin"></div>Users
      </div>
      <div id="myNumbersBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer myNumbersAdmin"></div>My Numbers
      </div>
      <div id="preferencesBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer preferencesAdmin"></div>Preferences
      </div>
    </span>
    <span class="bottomImgPlacement">
      <div id="billingBtn" class="flexColumn centerItems mainImgText">
        <div class="adminImgContainer billingAdmin"></div>Billing
      </div>
    </span>
  </div>
</div>

<footer class="flexEndJustified">
  <a class="adminFooterHelp" href="">Help</a>
</footer>

<!-- Customer Panels  -->
<div class="customersContainer">
  <div id="customersPanel"></div>
</div>
<div class="defaultNotesContainer">
  <div id=defaultDriverNotesPanel></div>
</div>
<!-- Shipper Panels  -->
<div class="shippersContainer">
  <div id="shippersPanel"></div>
</div>
<div class="shipperFileContainer">
  <div id=shipperFilePanel></div>
</div>
<div class="receiverContainer">
  <div id="receiverPanel"></div>
</div>
<div class="driversContainer">
  <div id="driversPanel"></div>
</div>
<div class="trucksContainer">
  <div id="trucksPanel"></div>
</div>
<div class="trailersContainer">
  <div id="trailersPanel"></div>
</div>
<div class="externalCarriersContainer">
  <div id="externalCarriersPanel"></div>
</div>
<div class="customsBrokersContainer">
  <div id="customsBrokersPanel"></div>
</div>
<div class="factoringCompaniesContainer">
  <div id="factoringCompaniesPanel"></div>
</div>
<div class="usersContainer">
  <div id="usersPanel"></div>
</div>
<div class="myNumbersContainer">
  <div id="myNumbersPanel"></div>
</div>
<div class="preferencesContainer">
  <div id="preferencesPanel"></div>
</div>
<div class="promptSaveChanges">
  <div id="promptUnsavedChanges"></div>
</div>
<div class="billingContainer">
  <div id="billingPanel"></div>
</div>
<div class="reportsContainer">
  <div id="reportsPanels"></div>
</div>
<div class="reportNotesContainer">
  <div id=reportsNotesPanel></div>
</div>

<div class="addReportNotesContainer">
  <div id="addReportsNotesPanel"></div>
</div>
<div class="reportFileContainer">
  <div id=reportsFilePanel></div>
</div>
<div class="defaultNotesContainer">
  <div id=defaultPreferencesNotesPanel></div>
  <div id=defaultReportsNotesPanel></div>
</div>
<div class="myAccountContainer">
  <div id=myAccountPanel></div>
</div>
<!-- Javascript shared with other pages  -->
<script src="/js/dropDown.js"></script>
<script src="/js/addNotes.js"></script>
<script src="/js/charCount.js"></script>
<script src="/js/defaultNotes.js"></script>
<script src="/js/filesPanel.js"></script>
<script src="/js/notesPanel.js"></script>
<script src="/js/notesTwo.js"></script>
<script src="/js/reportsPanel.js"></script>
<script src="/js/myAccount.js"></script>
<script src="/js/customCheckBox.js"></script>
<script src="/js/customSelector.js"></script>

<!-- Javascript for admin  -->
<script src="/js/admin/adminMain.js"></script>
<script src="/js/admin/addCustomBroker.js"></script>
<script src="/js/admin/addDriver.js"></script>
<script src="/js/admin/addFactoringCo.js"></script>
<script src="/js/admin/addNewCustomers.js"></script>
<script src="/js/admin/addReceiver.js"></script>
<script src="/js/admin/addShippersPanel.js"></script>
<script src="/js/admin/addTrailer.js"></script>
<script src="/js/admin/addTrucks.js"></script>
<script src="/js/admin/AddUser.js"></script>
<script src="/js/admin/addNumber.js"></script>
<script src="/js/admin/billing.js"></script>
<script src="/js/admin/customersPanel.js"></script>
<script src="/js/admin/customBrokers.js"></script>
<script src="/js/admin/drivers.js"></script>
<script src="/js/admin/editExternalCarrier.js"></script>
<script src="/js/admin/externalCarriers.js"></script>
<script src="/js/admin/factoringCompanies.js"></script>
<script src="/js/admin/myNumbers.js"></script>
<script src="/js/admin/preferences.js"></script>
<script src="/js/admin/receiverPanel.js"></script>
<script src="/js/admin/ShippersPanel.js"></script>
<script src="/js/admin/trailers.js"></script>
<script src="/js/admin/trucks.js"></script>
<script src="/js/admin/user.js"></script>
<script src="/js/admin/permissions.js"></script>