<div class="felxColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeBilling" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle factoringTitle">BILLING</div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveBilling" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="flexColumn panelPadding panelInputSpacing">
    <div class="billingSecureMessage">All your payment information is securely submitted.</div>
    <div class="billingContainer1">
      <div class="flexColumn">
        <label class="panelLabelMargin">Name on Card</label>
        <input class="nameOnCard">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Card Number</label>
        <input class="billingCardNum">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Expiration Date</label>
        <input type="date" class="billingExpDate" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">CVV</label>
        <input class="billingCVV">
      </div>
    </div>
    <div class="billingAcknowledgement">By saving your card details , you authorize eCapital to <br>
      save your information for future payments and renewals.</div>
    <div class="billingContainer2">
      <div class="flexColumn">
        <label class="panelLabelMargin">Company Name</label>
        <input class="billingCompanyName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">First & Last Name</label>
        <input class="BillingFirstLast">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Billing Address</label>
        <input class="billingAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Country</label>
        <input class="billingCountry">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">State</label>
        <input class="billingState">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">City</label>
        <input class="billingCity">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Billing Zip</label>
        <input class="billingZip">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">GST/HST Number</label>
        <input class="billingGSTHST">
      </div>
    </div>
    <div class="billingPaymentTitle">Payment History</div>
    <div class="flexColumn">
      <div class="flexRow paymentHistoryRow1">
        <div class="paymentHistoryText1">9/13/21</div>
        <div class="paymentHistoryText1 flexRow">Amount: <div class="amountMargin">$99,999.99 USD</div>
        </div>
        <div class="paymentHistoryText1 flexRow">
          <div class="paymentHistoryText2">status:</div>pending
        </div>
        <div class="viewSource">View Source</div>
      </div>
      <div class="flexRow paymentHistoryRow2">
        <div class="paymentHistoryText1">9/13/21</div>
        <div class="paymentHistoryText1 flexRow">Amount: <div class="amountMargin">$99,999.99 USD</div>
        </div>
        <div class="paymentHistoryText1 flexRow">
          <div class="paymentHistoryText2">status:</div>pending
        </div>
        <div class="viewSource">View Source</div>
      </div>
    </div>
  </div>
</div>