<panel>
  <div class="headerMedium">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeCustomsBrokers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle customsTitle">CUSTOMS</div>
      <div class="largePanelsTitle">BROKERS</div>
    </span>
    <div class="spanLeft">
      <input class="search searchCustomerSize" placeholder="Search Customs Brokers">
      <button id="close" class="stockBtn"><a id="help">Help</a></button>
    </div>
  </div>
  <div class="adminPanelContent">
    <div class="spanLeft">
      <button id="addNewBroker" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors" type="checkbox">Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors" type="checkbox">Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">Showing <span class="resultsShownAdmin">1-10 out of 100 </span>results</div>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
          </div>
      </div>
      <div class="whiteBar whiteBarSize">
        <div class="flexRow textSemiLight brokerNameContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/customBrokerFilled.svg">4 Elements Inc</div>
        <div class="flexRow textSemiLight brokerPhonePositioning center-y"><img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg">661-666-6666</div>
        <div>
          <button id="brokerFileBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
          <button id="editCustomBrokers" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
        </div>
      </div>
    </div>
  </div>
</panel>
<div class="addCustomsBrokersContainer">
  <div id="addCustomsBrokersPanel"></div>
</div>
<div class="fileContainer">
  <div id=customBrokerFilePanel></div>
</div>

