<panel>
  <div class="headerMedium">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeDrivers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle">DRIVERS</div>
    </span>
    <div class="spanLeft">
      <input class="search searchCustomerSize" placeholder="Search Shippers">
      <button id="close" class="stockBtn"><a id="help">Help</a></button>
    </div>
  </div>
  <div class="adminPanelContent">
    <div class="spanLeft filterRowGap">
      <button id="addNewDriverBtn" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">Showing <span class="resultsShownAdmin">1-10 out of 100 </span>results</div>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
        </div>
      </div>
      <div class="infoScrollContainer">
        <div class="whiteBar whiteBarSize">
          <div class="flexRow phoneNumberText driverNameContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/driversAdmin.svg">John Doe</div>
          <div class="flexRow phoneNumberText center-y"><img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg">661-666-6666</div>
          <div class="flexRow countryText center-y">License Expiry:<div class="orangeStyled textSpacing">10/23/19</div>
          </div>
          <div>
            <button id="filesPanelBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
            <button id="editDriverBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
          </div>
        </div>
        <div class="whiteBar whiteBarSize">
          <div class="flexRow phoneNumberText driverNameContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/driversAdmin.svg">test</div>
          <div class="flexRow phoneNumberText center-y"><img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg">661-666-6666</div>
          <div class="flexRow countryText center-y">License Expiry:<div class="orangeStyled textSpacing">10/23/19</div>
          </div>
          <div>
            <button id="filesPanelBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
            <button id="editDriverBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
<!-- Panels to load  -->
<div class="addDriversContainer">
  <div id="addDriversPanel"></div>
</div>
<div class="fileContainer">
  <div id=driverFilePanel></div>
</div>
