<div class="flexColumn">
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closeEditExternal" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle editExternalTitle">
        <div id="editAddCarriers">ADD</div>
        <div>EXTERNAL CARRIER</div>
      </div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="saveEditExternal" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="editExternalRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">External Carrier Name<div class="inputErrorSignal">*</div></label>
        <input class="editCarrierName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Date Added<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Address<div class="inputErrorSignal">*</div></label>
        <input class="editAddress">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Country<div class="inputErrorSignal">*</div></label>
        <select class="editCountry"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">City/State<div class="inputErrorSignal">*</div></label>
        <input class="editState">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Zip<div class="inputErrorSignal">*</div></label>
        <input class="editZip">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Contact Name<div class="inputErrorSignal">*</div></label>
        <input class="editContactName">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Email<div class="inputErrorSignal">*</div></label>
        <input class="editEmail">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="editTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="editExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Toll Free<div class="inputErrorSignal">*</div></label>
        <input class="editTollFree">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Fax<div class="inputErrorSignal">*</div></label>
        <input class="editFax">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Payment Terms<div class="inputErrorSignal">*</div></label>
        <select class="editPayment"></select>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Tax ID #<div class="inputErrorSignal">*</div></label>
        <input class="editTaxID">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Other Numbers<div class="inputErrorSignal">*</div></label>
        <input class="editOtherNumbers">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Factoring Company Name<div class="inputErrorSignal">*</div></label>
        <select class="editFactoringCompany"></select>
      </div>
    </div>
    <div class="boldText IFTAForm">Insurance</div>
    <div class="editExternalRow2 panelInputSpacing">
      <div class="flexColumn">
        <label class="orangeLabel flexRow errorGap panelLabelMargin">Liability Company<div class="inputErrorSignal">*</div></label>
        <input class="editOrangeTitle">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="editTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="editExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Policy #<div class="inputErrorSignal">*</div></label>
        <input class="editPolicy">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Expiry Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Contact<div class="inputErrorSignal">*</div></label>
        <input class="editContact">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Liability<div class="inputErrorSignal">*</div></label>
        <input class="editLiability textPlaceholderPadding" placeholder="$">
      </div>
    </div>
    <div class="editExternalRow2 panelInputSpacing">
      <div class="flexColumn">
        <label class="orangeLabel flexRow errorGap panelLabelMargin">Auto Insurance Company<div class="inputErrorSignal">*</div></label>
        <input class="editOrangeTitle">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="editTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="editExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Policy #<div class="inputErrorSignal">*</div></label>
        <input class="editPolicy">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Expiry Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Contact<div class="inputErrorSignal">*</div></label>
        <input class="editContact">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Liability<div class="inputErrorSignal">*</div></label>
        <input class="editLiability textPlaceholderPadding" placeholder="$">
      </div>
    </div>
    <div class="editExternalRow2 panelInputSpacing">
      <div class="flexColumn">
        <label class="orangeLabel flexRow errorGap panelLabelMargin">Cargo Company<div class="inputErrorSignal">*</div></label>
        <input class="editOrangeTitle">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Telephone<div class="inputErrorSignal">*</div></label>
        <input class="editTelephone">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Ext<div class="inputErrorSignal">*</div></label>
        <input class="editExt">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Policy #<div class="inputErrorSignal">*</div></label>
        <input class="editPolicy">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Expiry Date<div class="inputErrorSignal">*</div></label>
        <input type="date" class="" required>
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Contact<div class="inputErrorSignal">*</div></label>
        <input class="editContact">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">Liability<div class="inputErrorSignal">*</div></label>
        <input class="editLiability textPlaceholderPadding" placeholder="$">
      </div>
    </div>
    <div class="editExternalRow1 panelInputSpacing">
      <div class="flexColumn">
        <label class="panelLabelMargin flexRow errorGap">WSIB #<div class="inputErrorSignal">*</div></label>
        <input class="editWSIB">
      </div>
      <div class="flexColumn">
        <label class="panelLabelMargin">Notes</label>
        <input class="editExternalNotes">
      </div>
    </div>
    <div class="flexRow panelCheckBoxGap">
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Active</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Inactive</label>
      </div>
      <div class="flexRow centerItems">
        <input type="checkbox">
        <label>Do Not Use</label>
      </div>
    </div>
  </div>
</div>