<panel>
  <div class="HeaderWide">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeMyNumbers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="myNumbersTitle">MY NUMBERS</div>
    </span>
  </div>
  <div class="numberPanelContent">
    <div class="spanLeft bottomLeftPadding">
      <input class="search searchNumberSize" placeholder="Search Shippers">
      <button id="close" class="stockBtn"><a id="help">Help</a></button>
    </div>
    <div class="spanLeft filterRowGap">
      <button id="addNumberBtn" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">Showing <span class="resultsShown">1-10 out of 100 </span>results</div>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
        </div>
      </div>
      <div class="infoScrollContainer">
        <div class="whiteBar whiteBarSize">
          <div class="flexRow textSemiLight driverNameContainer center-y">John Doe</div>
          <div class="flexRow addressText onBoard driverNameContainer center-y">On Board:<div class="onBoard textSpacing countryText darkRed">
              NO</div>
          </div>
          <div>
            <button id="numberFileBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
            <button id="editNumberBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
<div class="notesContainer">
  <div id=numbersNotesPanel></div>
</div>
<div class="fileContainer">
  <div id=numbersFilePanel></div>
</div>
<div class="addNumbersContainer">
  <div id=addNumbersPanel></div>
</div>