<panel>
  <div class="headerMedium">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closePreferences" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle customsTitle">PREFERENCES</div>
    </span>
    <div class="nav">
      <li class="nav-link marginNone"><a id="notesPanelBtn" href=#><img class="icon" src="/img/editLoadPanel/notesIcon.svg"></a></li>
      <li class="nav-link marginNone"><a id="filePanelBtn" href=#><img class="icon" src="/img/editLoadPanel/fileIcon.svg"></a></li>
      <li class="nav-link marginNone"><a id="savePreferences" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="panelPadding">
    <div class="flexColumn prefContainer1">
      <div class="prefContainer2">
        <div class="panelInputSpacing prefRowWrap">
          <div class="flexColumn">
            <label class="panelLabelMargin">Company Name</label>
            <input class="prefName">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Account Number</label>
            <input class="prefAccountNum">
          </div>
        </div>
        <div class="panelInputSpacing prefRowWrap">
          <div class="flexColumn">
            <label class="panelLabelMargin">Address</label>
            <input class="prefAddress">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Country</label>
            <select class="prefCountry"></select>
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">City/State</label>
            <input class="prefCity">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Zip</label>
            <input class="prefZip">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Contact Name</label>
            <input class="prefContact">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Email</label>
            <input class="prefEmail">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Telephone</label>
            <input class="prefTelephone">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Ext</label>
            <input class="prefExt">
          </div>
        </div>
        <div class="panelInputSpacing prefRowWrap">
          <div class="flexColumn">
            <label class="panelLabelMargin">Primary Contact Name</label>
            <input class="prefContact">
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Currency</label>
            <select class="prefCurrency"></select>
          </div>
          <div class="flexColumn">
            <label class="panelLabelMargin">Invoice Sequencing</label>
            <input class="prefInvoice">
          </div>
        </div>
      </div>
      <div class="flexRow prefRow2 panelInputSpacing">
        <div class="flexColumn">
          <label class="panelLabelMargin">Print Settings</label>
          <select class="prefprint">
            <option>Show Logo</option>
          </select>
        </div>
        <button class="prefCompanyBtn">MANAGE COMPANY LOGO</button>
      </div>
      <div class="prefRow2 panelInputSpacing">
        <div class="flexColumn">
          <label class="panelLabelMargin">Next Load #</label>
          <input class="prefNextLoad">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">Next Invoice #</label>
          <input class="prefNextInvoice">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">eCapital on Footer</label>
          <select class="prefOnFooter">
            <option>Show on Printout</option>
          </select>
        </div>
        <div class="flexRow center-y prefBlindShip">
          <input type="checkbox">
          <label>Include Blind Shipments</label>
        </div>
      </div>
    </div>
    <div class="flexColumn prefContainer1">
      <div class="brokersOnly">Brokers Only</div>
      <div class="flexRow">
        <div class="flexRow center-y prefMarginRight">
          <input type="checkbox" class="prefCheckBoxMargin ">
          <label>Show Carrier Advanced Notes</label>
        </div>
        <div class="flexRow center-y">
          <input type="checkbox" class="pref">
          <label>Validate Carrier Insurance Expiration</label>
        </div>
        <div class="flexRow center-y prefMarginLeft">
          <div class="smallBoldText">required Insurance:</div>
          <div class="flexRow center-y reqInsuranceGap">
            <input type="checkbox" class="pref">
            <label>Auto</label>
          </div>
          <div class="flexRow center-y reqInsuranceGap">
            <input type="checkbox" class="pref">
            <label>Liability</label>
          </div>
          <div class="flexRow center-y reqInsuranceGap">
            <input type="checkbox" class="pref">
            <label>Cargo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="prefContainer1">
      <div class="brokersOnly IFTAMargin">IFTA</div>
      <div class="prefRow3 panelInputSpacing">
        <div class="flexColumn">
          <label class="panelLabelMargin">Legal Business Name</label>
          <input class="prefLegalName">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">Doing Business As</label>
          <input class="prefBusinessAs">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">IFTA Account #</label>
          <input class="prefIFTANum">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">State Registration</label>
          <select class="prefStateReg"></select>
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">Next Trip #</label>
          <input class="prefNextTrip">
        </div>
        <div class="flexColumn">
          <label class="panelLabelMargin">DOT #</label>
          <input class="prefDOTNum">
        </div>
        <div class="flexEnd">
          <select class="prefMC">
            <option>MC</option>
          </select>
        </div>
        <div class="flexRow flexEnd">
          <input class="prefFMCSA">
          <label class="FMSCAStyle FMCSAPadding">FMCSA</label>
        </div>
        <div class="flexRow flexEnd">
          <input type="checkbox" class="marginNone">
          <label class="FMCSAPadding">Mass Toll Exemption</label>
        </div>
        <div class="flexRow flexEnd">
          <input type="checkbox" class="marginNone">
          <label class="FMCSAPadding">Create Load On Journey Start</label>
        </div>
      </div>
      <div>
        <div class="checkBoxTitle">Validate Empty Miles On:</div>
        <div class="flexRow IFTAMargin">
          <div class="flexRow center-y prefCheckBoxSpacing">
            <input type="checkbox" class="prefCheckBoxMargin">
            <label class="panelLabelMargin">Load Completion for Starting Location</label>
          </div>
          <div class="flexRow center-y">
            <input type="checkbox" class="">
            <label class="panelLabelMargin">Load Completion for Finishing Location</label>
          </div>
        </div>
      </div>
      <div>
        <div class="checkBoxTitle">Start/Stop Validation</div>
        <div class="flexRow">
          <div class="flexRow center-y prefCheckBoxSpacing">
            <input type="checkbox" class="prefCheckBoxMargin">
            <label class="panelLabelMargin">yes</label>
          </div>
          <div class="flexRow center-y">
            <input type="checkbox" class="">
            <label class="panelLabelMargin">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="flexColumn">
      <div class="flexRow prefBottomContainer">
        <div class="LargeBoldText">Permissions:</div>
        <div class="largeLightText prefCheckBoxMargin">Role List</div>
      </div>
      <div class="flexColumn">
        <div class="flexRow prefContainer3 prefBottomBorder">
          <div class="mediumMediumText">Company Owner</div>
          <div class="flexRow">
            <button class="prefPermissionBtn prefAssignBtn">ASSIGN TO</button>
            <button class="prefPermissionBtn prefViewBtn">VEIW</button>
          </div>
        </div>
        <div class="flexRow prefContainer3 prefBottomBorder">
          <div class="mediumMediumText">Admin</div>
          <div class="flexRow">
            <button class="prefPermissionBtn prefAssignBtn">ASSIGN TO</button>
            <button class="prefPermissionBtn prefViewBtn">VEIW</button>
          </div>
        </div>
        <div class="flexRow prefContainer3 prefBottomBorder">
          <div class="mediumMediumText">Driver</div>
          <div class="flexRow">
            <button class="prefPermissionBtn prefAssignBtn">ASSIGN TO</button>
            <button class="prefPermissionBtn prefViewBtn">VEIW</button>
          </div>
        </div>
        <div class="flexRow prefContainer3">
          <div class="mediumMediumText">Dispatcher</div>
          <div class="flexRow">
            <button class="prefPermissionBtn prefAssignBtn">ASSIGN TO</button>
            <button class="prefPermissionBtn prefViewBtn">VEIW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
<div class="notesContainer">
  <div id=preferencesNotesPanel></div>
</div>
<div class="fileContainer">
  <div id=preferencesFilePanel></div>
</div>
<div class="addNotesContainer">
  <div id="addPreferencesNotesPanel"></div>
</div>