<panel>
  <div class="HeaderWide">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeShippers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle">SHIPPERS</div>
    </span>
    <span class="spanLeft">
      <input class="search searchCustomerSize headerInputSpacing" placeholder="Search Shippers">
      <select id="searchBy" class="search headerInputSpacing customerSearch">
        <!-- <option>Search By</option> -->
        <option>City</option>
        <option>State</option>
        <option>Street Name</option>
        <option>PC/ZIP</option>
      </select>
      <button class="filterSelectArrow1">
        <img id="searchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
      </button>
      <input class="search keywordCustomerSize headerInputSpacing" placeholder="Keyword">
      <button id="close" class="stockBtn"><a>Help</a></button>
    </span>
  </div>
  <div class="mainPanelContent">
    <div class="spanLeft filterRowGap">
      <button id="addNewShipper" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox">Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">Showing <span class="resultsShownAdmin">1-10 out of 100 </span>results</div>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
        </div>
      </div>
      <div class="infoScrollContainer">
        <div class="whiteBar whiteBarSize">
          <div class="flexRow phoneNumberText customerNameContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/shippersAdmin.svg">ALLDURA</div>
          <div class="flexRow addressText customerAddressContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/houseAdmin.svg">201 N
            Sweetbriar Ave - 93247 -<div class="countryText">Lindsay,CA</div>
          </div>
          <div class="flexRow phoneNumberText center-y"><img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg">661-666-6666</div>
          <div>
            <button id="shipperFiles" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
            <button class="stockBtn"><img class="whiteBarImgSize" src="/img/adminMain/logoPartial.svg"></button>
            <button id="editShipper" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
          </div>
        </div>
        <div class="whiteBar whiteBarSize">
          <div class="flexRow phoneNumberText customerNameContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/shippersAdmin.svg">test</div>
          <div class="flexRow addressText customerAddressContainer center-y"><img class="whiteBarImgSize" src="/img/adminMain/houseAdmin.svg">201 N
            test Ave - 93247 -<div class="countryText">test,CA</div>
          </div>
          <div class="flexRow phoneNumberText center-y"><img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg">661-666-6666</div>
          <div>
            <button id="shipperFiles" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
            <button class="stockBtn"><img class="whiteBarImgSize" src="/img/adminMain/logoPartial.svg"></button>
            <button id="editShipper" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
<div class="addShippersContainer">
  <div id="addShippersPanel"></div>
</div>
<div class="notesContainer">
  <div id=shipperNotesPanel></div>
</div>
<div class="fileContainer">
  <div id=shipperFilePanel></div>
</div>
