<panel>
  <div class="headerMedium">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeTrailers" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle">TRAILERS</div>
    </span>
    <div class="spanLeft">
      <input class="search searchCustomerSize" placeholder="Search Trailers">
      <button id="close" class="stockBtn"><a id="help">Help</a></button>
    </div>
  </div>
  <div class="adminPanelContent">
    <div class="spanLeft">
      <button id="addNewTrailerBtn" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors" type="checkbox">Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors" type="checkbox">Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">Showing <span class="resultsShownAdmin">1-10 out of 100 </span>results</div>
        </div>
        <div style="display: flex; align-items: center;">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
        </div>
      </div>
      <div class="whiteBar whiteBarSize">
        <div class="flexRow textSemiLight center-y"><img class="whiteBarImgSize" src="/img/adminMain/myNumbersAdmin.svg">1104</div>
        <div class="flexRow textSemiLight trailerTypeContainer trailerTypePosition center-y"><img class="WhiteBarTrailerImg textSpacing" src="/img/adminMain/trailesAdmin.svg">53' VAN</div>
        <div>
          <button id="trailerFilesBtn" class="stockBtn"><img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg"></button>
          <button id="editTrailers" class="stockBtn"><img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg"></button>
        </div>
      </div>
    </div>
  </div>
</panel>
<!-- Panel to load  -->
<div class="addTrailersContainer">
  <div id="addTrailersPanel"></div>
</div>
<div class="fileContainer">
  <div id=trailerFilePanel></div>
</div>