<panel>
  <div class="headerMedium">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img id="closePreferences" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle userPermissionsTitle">USER PERMISSIONS</div>
    </span>
    <div class="nav">
      <li class="nav-link"><a id="savePreferences" href=# class="primaryButton panelSaveButton">SAVE</a></li>
    </div>
  </div>
  <div class="flexColumn panelPadding">
    <select class="selectRole">
      <option>Role</option>
    </select>
    <div class="greyList flexColumn">
      <div class="flexRow spaceBetweenGreyList permissionBorder permissionsListPadding">
        <div class="accountAccessLvl">Select account access level</div>
        <div class="accessLvl spaceBetweenGreyList">
          <div>Read Only</div>
          <div>Add Notes</div>
          <div>Add New</div>
          <div>Edit/Delete</div>
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Customers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Shippers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Receivers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Drivers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Dispatchers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Trucks</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Trailers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">External Carriers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Customs Brokers</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Factoring Co.</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Users</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Preferences</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Reports</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow permissionBorder">
        <div class="accessOptionTitle">Loads</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
      <div class="flexRow spaceBetweenGreyList permissionRow">
        <div class="accessOptionTitle">Accounting</div>
        <div class="spaceBetweenGreyList permissionInputWidth">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>
      </div>
    </div>
  </div>
</panel>