<panel>
  <div class="HeaderWide">
    <span class="spanLeft">
      <button id="close" class="stockBtn">
        <img class="closeUsers" src="/img/editLoadPanel/exitIcon.svg" />
      </button>
      <div class="largePanelsTitle">USER</div>
    </span>
    <div class="spanLeft">
      <input class="search searchCustomerSize" placeholder="Search User" />
      <button id="close" class="stockBtn"><a id="help">Help</a></button>
    </div>
  </div>
  <div class="mainPanelContent">
    <div class="spanLeft filterRowGap">
      <button id="addNewUser" class="orangeButton addNewBtn">ADD NEW</button>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox" />Active
      </label>
      <label class="labelSelectors">
        <input class="checkSelectors greyCheckBox" type="checkbox" />Inactive
      </label>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="showingFiltered">
        <div>
          <div class="showResults">
            Showing
            <span class="resultsShownAdmin">1-10 out of 100 </span>results
          </div>
        </div>
        <div style="display: flex; align-items: center">
          <div class="sortBy">Sort By:</div>
          <select id="panel" class="sortBySelector">
            <option class="">Recently Added</option>
            <option class="">Customer A-Z</option>
            <option class="">Driver Carrier</option>
            <option class="">Load Number</option>
            <option class="">Status</option>
            <option>Show All</option>
          </select>
          <button class="filterSelectArrow">
            <img id="dispatchDropDwn" class="statusArrow" src="/img/sideBar/dropDownArrow.svg" />
          </button>
        </div>
      </div>
      <div class="infoScrollContainer">
        <div class="whiteBar whiteBarSize">
          <div class="flexRow textSemiLight customerNameContainer center-y">
            <img class="whiteBarImgSize" src="/img/adminMain/usersAdmin.svg" />John Doe
          </div>
          <div class="flexRow addressText emailContainer center-y">
            <div class="atSymbol">@</div>
            <div>johnDoe@example.com</div>
          </div>
          <div class="flexRow textSemiLight center-y">
            <img class="whiteBarImgSize" src="/img/adminMain/phoneAdmin.svg" />661-666-6666
          </div>
          <div class="flexRow textSemiLight adminLink center-y">
            <img class="whiteBarImgSize" src="/img/adminMain/usersAdministration.svg" />Administration
          </div>
          <div>
            <button id="userFilesBtn" class="stockBtn">
              <img class="whiteBarImgSize" src="/img/editLoadPanel/fileIcon.svg" />
            </button>
            <button id="editUser" class="stockBtn">
              <img class="whiteBarImgSize" src="/img/dispatchPage/editLoad.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</panel>
<div class="addUsersContainer">
  <div id="addUsersPanel"></div>
</div>
<div class="userPermissionsContainer">
  <div id="userPermissionsPanel"></div>
</div>
<div class="fileContainer">
  <div id="userFilePanel"></div>
</div>