#addCustomersPanel {
  width: 480px;
  height: 100vh;
  margin: 0;
  background: #ffffff;
}

.addCustomersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: 100vh;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

textarea.internalNotes,
textarea.shippingNotes {
  border: 0.5px solid var(--primaryColor);
  border-radius: 4px;
  min-height: 72px;
  resize: none;
  width: 100%;
  padding: 16px;
  font-size: 12px;
}

/* header */
.addCustomerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  border-radius: 8px;
  padding: 0 27px 0 12px;
  z-index: 4;
}

.addCustomersSave {
  margin: 0 28px 0 0;
}

/* classes */
.orange {
  color: var(--accent);
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: 600;
}
.heading-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.faded {
  opacity: 0.5;
}

/* form */
.thirdPanelFormContainer {
  margin-top: 80px;
  min-height: 100px;
  max-height: 100vh;
  padding: 0 27px 0 27px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.inline-input-container:last-child,
.input-container:last-child {
  padding-right: 0px;
}

.inline-input-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  align-items: left;
  padding: 0 8px 5px 0;
}

.check-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  align-items: left;
  padding: 0 16px 5px 0;
  gap: 4px;
}

.inlineCheck {
  margin-top: 20px;
}

.headingCheck {
  margin-top: 8px;
}

.inputExpDateIcon {
  position: absolute;
  bottom: 9px;
  right: 12px;
  width: 14px;
}
/* input flex */

.flexGrow {
  flex: 1 1 auto;
}

.thirdWidth {
  max-width: 33.333%;
}

.halfWidth {
  flex-basis: 50%;
}

.fullWidth {
  flex: 1 1 100%;
}

.custName {
  flex-basis: 200px;
}

.FMSCA {
  max-width: 58px;
}

.country {
  flex-basis: 117px;
}

.state {
  flex-basis: 208px;
}

.zip {
  max-width: 84px;
}

.ext {
  width: 46px;
}

.tel {
  max-width: 130px;
}

.fax {
  max-width: 96px;
}

.terms {
  flex-basis: 158px;
}

.ccNum {
  flex-basis: 200px;
}

.expDate {
  max-width: 134px;
}

.cvv {
  max-width: 74px;
  margin-left: 6px;
}

.smallPartialLogo {
  height: 10px;
  width: 10px;
}
