#addShipperPanel {
  width: 480px;
  height: auto;
  margin: 0 0 0 auto;
  background: #ffffff;
}

textarea.internalNotes,
textarea.shippingNotes {
  border: 0.5px solid var(--primaryColor);
  border-radius: 4px;
  min-height: 72px;
  resize: none;
  width: 100%;
  padding: 16px;
  font-size: 12px;
}

/* header */

.addCustomersSave {
  margin: 0 28px 0 0;
}

/* classes */
.orange {
  color: var(--accent);
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

.heading-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* form */
.thirdPanelFormContainer {
  margin-top: 30px;
  min-height: 100px;
  max-height: 100vh;
  padding: 0 27px 0 27px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.check-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  align-items: left;
  padding: 0 16px 5px 0;
  gap: 4px;
}
.inlineCheck {
  margin-top: 20px;
}
.headingCheck {
  margin-top: 8px;
}

.titleGap {
  gap: 4px;
}

.faded {
  opacity: 0.5;
}
/* input flex */

.flexGrow {
  flex: 1 1 auto;
}
.thirdWidth {
  max-width: 33.333%;
}
.halfWidth {
  flex-basis: 50%;
}
.fullWidth {
  flex: 1 1 100%;
}
.custName {
  flex-basis: 200px;
}
.FMSCA {
  max-width: 58px;
}
.country {
  flex-basis: 117px;
}
.state {
  flex-basis: 208px;
}
.zip {
  max-width: 84px;
}
.ext {
  width: 46px;
}
.tel {
  max-width: 130px;
}
.fax {
  max-width: 96px;
}
.terms {
  flex-basis: 158px;
}
