adminMain {
  margin: 89px 0 0 40px;
  width: 100vw;
}

.centerMainContent {
  align-items: center;
  display: flex;
  flex-grow: inherit;
  justify-content: center;
}

.panelMargins {
  margin: 70px 28px 28px;
}

.panelCheckBoxGap {
  gap: 20px;
}

.adminImgContainer {
  height: 126px;
  width: 126px;
  border: 2px solid #5a7284;
  border-radius: 9px;
  margin: 0 0 12px 0;
}

.mainImgText {
  font-size: 14px;
  font-weight: 500;
}

.topImgRowPlacement {
  justify-content: space-between;
  width: 1011px;
  margin: 0 0 60px 0;
}

.middleImgRowPlacement {
  justify-content: space-between;
  width: 1011px;
  margin: 0 0 60px 0;
}

.bottomImgPlacement {
  display: flex;
  width: 1011px;
}

.customersAdmin {
  background-image: url("/img/adminMain/cutomersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.customersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/cutomersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.shippersAdmin {
  background-image: url("/img/adminMain/shippersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.shippersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/shippersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.receiversAdmin {
  background-image: url("/img/adminMain/receiversAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.receiversAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/receiversAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.driversAdmin {
  background-image: url("/img/adminMain/driversAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.driversAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/driversAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.trucksAdmin {
  background-image: url("/img/adminMain/trucksAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.trucksAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/trucksAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.trailersAdmin {
  background-image: url("/img/adminMain/trailesAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.trailersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/trailesAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.externalCarriersAdmin {
  background-image: url("/img/adminMain/externalCarriersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.externalCarriersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/externalCarriersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.customsBrokersAdmin {
  background-image: url("/img/adminMain/customsBrokersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.customsBrokersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/customersBrokersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.factoringCompaniesAdmin {
  background-image: url("/img/adminMain/factoringCompaniesAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.factoringCompaniesAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/factoringCompaniesAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.factoringIndent {
  text-indent: 4px;
}

.usersAdmin {
  background-image: url("/img/adminMain/usersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.usersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/usersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.myNumbersAdmin {
  background-image: url("/img/adminMain/myNumbersAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.myNumbersAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/myNumbersAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.preferencesAdmin {
  background-image: url("/img/adminMain/preferencesAdmin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.preferencesAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/preferencesAdminHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.billingAdmin {
  background-image: url("/img/adminMain/adminBilling.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.billingAdmin:hover {
  background: var(--primaryColor);
  background-image: url("/img/adminMain/adminBillingHover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Panels */
.customersContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-y: clip;
  border-radius: 20px 0 0 0;
}

.shippersContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-y: clip;
  border-radius: 20px 0 0 0;
}

.addShippersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.preferencesContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.billingContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.adminFooterHelp {
  width: 34px;
  height: 12px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.flexEndJustified {
  display: flex;
  justify-content: end;
}