.billingSecureMessage {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 14px;
}

.billingAcknowledgement {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #8f8f8f;
}

.billingCardNum {
  width: 200px;
}

.billingExpDate {
  width: 134px;
}

.billingCVV {
  width: 74px;
}

.nameOnCard {
  width: 426px;
}

.billingContainer1 {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin: 0 0 16px 0;
}

.billingCompanyName {
  width: 156px;
}

.BillingFirstLast {
  width: 260px;
}

.billingAddress {
  width: 426px;
}

.billingCountry {
  width: 116px;
}

.billingState {
  width: 68px;
}

.billingCity {
  width: 134px;
}

.billingZip {
  width: 86px;
}

.billingGSTHST {
  width: 260px;
}

.billingContainer2 {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  padding: 16px 0 20px 0;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin: 16px 0;
}

.billingPaymentTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
}

.paymentHistoryRow1 {
  justify-content: space-between;
  align-items: center;
  width: 426px;
  height: 24px;
  background: rgba(90, 114, 132, 0.15);
  border-radius: 2px;
  padding: 0 6px;
}
.paymentHistoryRow2 {
  justify-content: space-between;
  align-items: center;
  width: 426px;
  height: 24px;
  padding: 0 6px;
}

.paymentHistoryText1 {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: var(--primaryColor);
}

.paymentHistoryText2 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #787878;
  margin-right: 4px;
}

.viewSource {
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  text-decoration-line: underline;
}
.amountMargin {
  margin-left: 4px;
}
