button#close,
button#closeReports {
  margin: 0 16px 0 0;
}

button#searchBy {
  padding: 0;
  background: none;
}

#help {
  margin: 0 0 0 16px;
}

.headerInputSpacing {
  margin: 0 15px 0 0;
}

.stockBtn {
  padding: 0;
  border: none;
  background: none;
  /* margin: 0 16px 0 0; */
}

.customerTitleSpacing {
  width: 214px;
  justify-content: space-between;
}

.adminPanelContent {
  margin: 34px 28px 0 28px;
}

.HeaderWide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #ffff;
  top: 0;
  border-radius: 8px;
  padding: 0 12px 0 12px;
}

.mainPanelContent {
  margin: 30px 28px 0 28px;
}

.whiteBarSize {
  height: 60px;
}

.whiteBarImgSize {
  height: 18px;
  width: 18px;
  margin: 4px;
}

.WhiteBarTrailerImg {
  height: 16px;
  width: 28px;
}

.textSemiLight {
  font-size: 12px;
  font-weight: 500;
}

.addressText {
  font-size: 12px;
  font-weight: 400;
}

.customerAddressContainer {
  width: 310px;
  gap: 2px;
}

.customerSearch {
  width: 176px;
}

.faintGrey {
  color: #cccccc;
}

.darkRed {
  color: #c50000;
}

.countryText {
  font-size: 12px;
  font-weight: 700;
}

.phoneNumberText {
  font-size: 12px;
  font-weight: 600;
}

.customersGreyContainerSize {
  height: 100vh;
  overflow-x: hidden;
}

.searchCustomerSize {
  width: 282px;
  text-indent: 30px;
  background-image: url("/img/dispatchPage/searchIcon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 5px;
  /* position: absolute; */
  /* right: 28vw; */
}

.keywordCustomerSize {
  width: 155px;
  text-indent: 30px;
  background-image: url("/img/dispatchPage/searchIcon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 5px;
  /* position: absolute; */
  /* right: 4vw; */
}

.largePanelsTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
  color: var(--primaryColor);
}

.addNewBtn {
  font-size: 10px;
  font-weight: 500;
  height: 22px;
  width: 70px;
}

/* Drop Down Selector  */
.searchBy {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 10px;
  width: inherit;
  border-bottom: 0.5px solid #bababa;
}

.searchByContainer {
  width: 158px;
  display: flex;
  flex-direction: column;
  /* height: 35px; */
  /* height: 155px; */
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  z-index: 5;
  position: absolute;
  /* right: 16vw; */
  /* top: 13px;   */

  overflow: hidden;
}

.searchByPlaceHolder {
  color: #cccccc;
  font-size: 18px;
  font-weight: 400;
}

.searchByDropDown {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  height: 120px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #bababa;
  /* display: none; */
}

.dropDownHide {
  height: 0;
  display: none;
}

.dropDownLi {
  font-size: 12px;
  font-weight: 500;
  color: var(--primaryColor);
  width: 100%;
  margin: 0;
  height: 38px;
  padding: 0 0 0 10px;
}

.dropDownLi:hover {
  background-color: #f2f2f2;
}

.filterSelectArrow1 {
  background: none;
  position: absolute;
  right: 242px;
  pointer-events: none;
}
