.customsTitle {
  width: 140px;
}

.customsBrokersContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addCustomsBrokersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.addBrokerTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 290px;
}

.brokerNameContainer {
  width: 150px;
}

.brokerPhonePositioning {
  position: relative;
  right: 4vw;
}

.customBrokerRow1 {
  display: flex;
  flex-wrap: wrap;
}

.addBrokerName {
  width: 220px;
}

.addBrokerCrossing {
  width: 196px;
}

.addBrokerTelephone {
  width: 140px;
}

.addBrokerExt {
  width: 50px;
}

.addBrokerTollFree {
  width: 122px;
}

.addBrokerFax {
  width: 88px;
}
