.driversContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addDriversContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 0 0 0 20px;
}

/* add Driver Panel  */
.addDriverTitle {
  width: 172px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addDriverRow1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 44px 0;
}

.addDriverRow2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.driverNameContainer {
  width: 120px;
}

.driverName {
  width: 298px;
}

.driverType {
  width: 116px;
}

.driverTelephone {
  width: 122px;
}

.driverCell {
  width: 112px;
}

.driverEmail {
  width: 174px;
}

.driverAddress {
  width: 424px;
}

.driverCountry {
  width: 116px;
}

.driverCity {
  width: 206px;
}

.driverPostal {
  width: 84px;
}

.driverDOH {
  width: 100px;
}

.driverDOB {
  width: 96px;
}

.driverLicense {
  width: 136px;
}

.driverExpiry {
  width: 96px;
}

.driverPassport {
  width: 96px;
}

.driverFastCard {
  width: 136px;
}

.driverHazmat {
  width: 96px;
}

.driverLastMedical {
  width: 112px;
}

.driverNextMedical {
  width: 100px;
}

.driverLastDrug {
  width: 104px;
}

.driverNextDrug {
  width: 100px;
}

.driverTerminationDate {
  width: 100px;
}

.driverTerminationReason {
  width: 318px;
}

.driverInternalNotes {
  width: 426px;
  height: 84px;
}
