.externalCarriersContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.externalHeaderRight {
  display: flex;
  gap: 15px;
  align-items: center;
}

.externalMArginBottom {
  margin-bottom: 10px;
}

.mainExternalPanel {
  margin: 22px 28px 0 28px;
}

.editExternalCarriersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

/* edit external styles  */
.editExternalRow1 {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.orangeLabel {
  color: var(--accent);
}

.editExternalRow2 {
  margin: 0 0 24px 0;
  display: flex;
  flex-wrap: wrap;
}

.editExternalTitle {
  width: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.editCarrierName {
  width: 260px;
}

.editDateAdded {
  width: 98px;
}

.editAddress {
  width: 408px;
}

.editCountry {
  width: 118px;
}

.editState {
  width: 190px;
}

.editZip {
  width: 84px;
}

.editContactName {
  width: 202px;
}

.editEmail {
  width: 198px;
}

.editTelephone {
  width: 112px;
}

.editExt {
  width: 44px;
}

.editTollFree {
  width: 130px;
}

.editFax {
  width: 98px;
}

.editPayment {
  width: 120px;
}

.editTaxID {
  width: 74px;
}

.editOtherNumbers {
  width: 130px;
}

.editFactoringCompany {
  width: 226px;
}

.editOrangeTitle {
  width: 234px;
}

.editPolicy {
  width: 114px;
}

.editExpDate {
  width: 78px;
}

.editContact {
  width: 100px;
}

.editLiability {
  width: 92px;
}

.editWSIB {
  width: 140px;
}

.editExternalNotes {
  width: 426px;
  height: 70px;
}
