.factoringTitle {
  width: 320px;
}

.addFactoringCo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 270px;
}

.factoringCompaniesContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addFactoringCompaniesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.addCoRow1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #cccccc;
}

.addCoRow2 {
  display: flex;
  flex-wrap: wrap;
  margin: 14px 0 0 0;
}

.addCoName {
  width: 426px;
}

.addCoAddress {
  width: 426px;
}

.addCoCountry {
  width: 118px;
}

.addCoCity {
  width: 208px;
}

.addCoZip {
  width: 84px;
}

.addCoContact {
  width: 220px;
}

.addCoEmail {
  width: 198px;
}

.addCoTelephone {
  width: 130px;
}

.addCoExt {
  width: 46px;
}

.addCoTollFree {
  width: 130px;
}

.addCoFax {
  width: 96px;
}

.addCoPayment {
  width: 125px;
}

.addCoCurrency {
  width: 130px;
}

.addCoTaxID {
  width: 154px;
}

.addCoNotes {
  width: 426px;
  height: 70px;
}
