.myNumbersTitle {
  font-size: 24px;
  font-weight: 700;
}

.myNumberTitleContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 242px;
}
.myNumbersContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.numberPanelContent {
  margin: 20px 28px 0 28px;
}

.bottomLeftPadding {
  padding: 0 0 15px 0;
  justify-content: space-between;
}

.numbersFilterPadding {
  padding: 0 0 0 15px;
}

.searchNumberSize {
  width: 360px;
  text-indent: 30px;
  background-image: url("/img/dispatchPage/searchIcon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 5px;
}

.onBoard {
  text-decoration: underline;
}

/* Add Number Panel */
.addNumbersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 0 0 0 20px;
}

.myNumberName {
  width: 214px;
}

.numberRowSpace {
  margin-bottom: 24px;
}

.myNumberPadding {
  padding: 11px 0 0 12px;
}

.numberCheckBoxGap {
  gap: 20px;
}

.numberTitleGap {
  gap: 8px;
}
