.preferencesContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.addPrefNotesContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 6;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.prefCompanyBtn {
  height: 20px;
  width: 146px;
  padding: 0;
  background: var(--accent);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  margin: 14px 0 0 0;
}

.prefCompanyBtn:hover {
  background: var(--accentHover);
}

.prefPermissionBtn {
  padding: 0;
  background: var(--accent);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 7px;
}

.prefPermissionBtn:hover {
  background: var(--accentHover);
}

.prefAssignBtn {
  height: 20px;
  width: 78px;
}

.prefViewBtn {
  height: 20px;
  width: 44px;
}



.prefRow2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 6px 0;
}

.prefRow3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.IFTAMargin {
  margin: 0 0 10px 0;
}

.marginNone {
  margin: 0;
}

.prefCheckBoxMargin {
  margin: 0 4px 0 0;
}

.prefContainer1 {
  padding: 0 0 14px 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 14px 0;
}

.prefContainer2 {
  margin: 0 0 6px 0;
}

.prefContainer3 {
  width: 260px;
  height: 28px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.prefBottomContainer {
  margin: 0 0 16px 0;
}

.prefBottomBorder {
  border-bottom: 1px solid #cccccc;
}

.checkBoxTitle {
  font-size: 10px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.prefRowWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 8px 0;
}

.prefCheckBoxSpacing {
  margin: 0 10px 0 0;
}

.FMCSAPadding {
  padding: 4px;
}

.reqInsuranceGap {
  margin: 0 20px 0 0;
}

.brokersOnly {
  font-size: 14px;
  font-weight: 700;
}

.prefMarginRight {
  margin: 0 14px 0 0;
}

.prefMarginLeft {
  margin: 0 0 0 22px;
}

.prefPrint {
  width: 88px;
}

.prefName {
  width: 300px;
}

.prefAccountNum {
  width: 116px;
}

.prefAddress {
  width: 230px;
}

.prefCountry {
  width: 116px;
}

.prefCity {
  width: 208px;
}

.prefZip {
  width: 84px;
}

.prefContact {
  width: 220px;
}

.prefEmail {
  width: 196px;
}

.prefTelephone {
  width: 178px;
}

.prefExt {
  width: 46px;
}

.prefCurrency {
  width: 116px;
}

.prefInvoice {
  width: 130px;
}

.prefNextLoad {
  width: 190px;
}

.prefNextInvoice {
  width: 160px;
}

.prefOnFooter {
  width: 132px;
}

.prefBlindShip {
  margin: 10px 0 0 0;
}

.prefLegalName {
  width: 210px;
}

.prefBusinessAs {
  width: 116px;
}

.prefIFTANum {
  width: 132px;
}

.prefStateReg {
  width: 108px;
}

.prefNextTrip {
  width: 82px;
}

.prefDOTNum {
  width: 78px;
}

.prefMC {
  width: 40px;
}

.prefFMCSA {
  width: 58px;
}

.FMSCAStyle {
  color: var(--accent);
  text-decoration: underline;
}

.FMSCAStyle:hover {
  color: var(--accentHover);
}
