/* add receiver styling */
.addReceiverContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}

.receiverContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addReceiverTitle {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panelSaveButton {
  height: 22px;
  width: 36px;
}

.fullWidthInput {
  width: 100%;
}

.panelLabelMargin {
  margin: 0 0 2px 0;
}

.receiverCountry {
  width: 116px;
}

.receiverCity {
  width: 208px;
}

.receiverZip {
  width: 86px;
}

.receiverContact {
  width: 220px;
}

.receiverEmail {
  width: 222px;
}

.receiverTelephone {
  width: 130px;
}

.receiverExt {
  width: 46px;
}

.receiverTollFree {
  width: 130px;
}

.receiverFax {
  width: 96px;
}

.receiverHours {
  width: 130px;
}

.receiverAppointments {
  width: 96px;
}

.receiverDirection {
  width: 184px;
}

.addReceiverRow2 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.addReceiverRow3 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0 0 0;
}

.addReceiverRow4 {
  margin: 20px 0 0 0;
}

.addAsShipperMargin {
  margin: 16px 0 0 0;
}

.addressContainer {
  width: 300px;
  justify-content: flex-start;
  gap: 20px;
}
