.trailersContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addTrailersContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
}


.trailerTypeContainer {
  width: 120px;
}

.addTrailerTitle {
  width: 172px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.trailerTypePosition {
  position: relative;
  right: 50px;
}

.trailerRow1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 22px 0;
}
.trailerRow2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.trailerNum {
  width: 218px;
}

.trailerType {
  width: 196px;
}

.trailerPlateNum {
  width: 92px;
}

.trailerPlateExp {
  width: 98px;
}

.trailerInspectionExp {
  width: 96px;
}

.trailerOwnership {
  width: 114px;
}

.trailerNotes {
  width: 426px;
  height: 70px;
}

.trailerModel {
  width: 134px;
}

.trailerAxles {
  width: 82px;
}

.trailerYear {
  width: 72px;
}

.trailerRegState {
  width: 110px;
}

.trailerIdentification {
  width: 154px;
}

.trailerDOTExp {
  width: 96px;
}

.trailerActivationDate {
  width: 98px;
}
