.trucksContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addTrucksContainer {
  display: none;
  position: absolute;
  width: 480px;
  height: 100vh;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.truckBrandContainer {
  width: 120px;
}

/* Add Trucks Style  */
.addTrucksTitle {
  width: 172px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addTruckRow1 {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.textPlaceholderPadding {
  text-indent: 6px;
}
.IFTAForm {
  margin: 0 0 10px 0;
}

.truckNumber {
  width: 218px;
}

.truckType {
  width: 198px;
}

.truckPlateNumber {
  width: 92px;
}

.truckPlateExpiry {
  width: 98px;
}

.truckInspection {
  width: 96px;
}

.truckOwnerShip {
  width: 114px;
}

.truckNotes {
  width: 426px;
  height: 70px;
}

.truckMileage {
  width: 132px;
}

.truckAxles {
  width: 84px;
}

.truckYear {
  width: 78px;
}

.truckFuel {
  width: 106px;
}

.truckStartDate {
  width: 98px;
}

.truckDeactivation {
  width: 97px;
}

.includeTruckIFTA {
  width: 164px;
  align-items: flex-end;
}

.IFTACheckBoxMargin {
  margin: 0 0 6px 4px;
}

.truckInsuranceProvider {
  width: 118px;
}

.truckRegState {
  width: 74px;
}

.truckInsurancePolicy {
  width: 110px;
}

.truckInsuranceExpiry {
  width: 98px;
}

.truckWeight {
  width: 156px;
}

.truckIdentification {
  width: 154px;
}

.truckDOTExpiry {
  width: 98px;
}
