.atSymbol {
  font-size: 20px;
  font-weight: 600;
  margin: 4px;
}

.userTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 136px;
}

.adminLink {
  color: var(--accent);
  text-decoration: underline;
}

.usersContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100%;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 20px 0 0 0;
}

.addUsersContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: auto;
  z-index: 4;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 0 0 0 20px;
}

.userPermissionsContainer {
  display: none;
  position: absolute;
  width: 50vw;
  height: 100vh;
  z-index: 5;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}

.editPermissions {
  height: 22px;
  width: 110px;
  border: none;
  border-radius: 4px;
  background: var(--accent);
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  padding: 0;
}

.userCheckBoxGap {
  gap: 8px;
  justify-content: space-between;
}

.emailContainer {
  width: 200px;
}

.addUserRow1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 12px 0;
}

.userName {
  width: 220px;
}

.userEmail {
  width: 198px;
}

.userAddress {
  width: 426px;
}

.userCountry {
  width: 118px;
}

.userState {
  width: 208px;
}

.userZip {
  width: 84px;
}

.userTelephone {
  width: 130px;
}

.userExt {
  width: 46px;
}

.userCell {
  width: 130px;
}

.userFax {
  width: 96px;
}
