.userPermissionsTitle {
  width: 252px;
}

.greyList {
  background: #eff3f6;
  width: auto;
  height: 682px;
  border-radius: 4px;
  padding: 24px 24px 0 24px;
}

.selectRole {
  width: 83px;
  height: 28px;
  border: 1px solid #5a7284;
  border-radius: 4px;
  margin: 0 0 14px 0;
}

.accountAccessLvl {
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  width: 230px;
}

.accessLvl {
  width: 366px;
  display: flex;
  font-size: 12px;
  font-weight: 700;
}

.spaceBetweenGreyList {
  justify-content: space-between;
}

.accessOptionTitle {
  font-size: 16px;
  font-weight: 700;
  width: 230px;
}

.permissionRow {
  height: 42px;
  align-items: center;
}

.permissionInputWidth {
  width: 366px;
  display: flex;
  padding: 0 20px;
}

.permissionBorder {
  border-bottom: 1px solid #cccccc;
}
.permissionsListPadding {
  padding: 0 0 14px 0;
}
