.accountDateInput {
  height: 28px;
  width: 88px;
  margin: 0 0 0 8px;
}

.accountCheckFilters {
  gap: 10px;
  align-items: center;
}

.accountExportBtn {
  font-weight: 500;
  font-size: 10px;
  width: 53px;
  height: 21px;
  background: #f4901f;
  border-radius: 4px;
  color: #ffffff;
}

.accountExportBtn:hover {
  background: var(--accentHover);
}

.invoiceFactoring {
  width: 133px;
  height: 40px;
  background: #5a7284;
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  padding: 12px;
  align-items: center;
  display: flex;
  gap: 4px;
}

.filterSelectArrow2 {
  background: none;
  position: absolute;
  right: 472px;
  pointer-events: none;
  top: 106px;
}

.accountSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.accountRow2 {
  justify-content: space-between;
  align-items: flex-end;
  margin: 32px 0 0 0;
}

.accountSelector {
  border-radius: 4px;
  border: 0.5px solid var(--primaryColor);
  height: 35px;
  width: 176px;
}

.paySelector {
  position: fixed;
  width: 225px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  z-index: 10;
}

.selectedPayManager {
  text-decoration: underline;
  padding: 0 0 8px 0;
  width: 194px;
  /* height: 12px; */
  font-size: 18px;
  line-height: 12px;
  color: #f4901f;
}

.selectOption {
  padding: 8px 0 0 0;
  border-top: 0.5px solid #cccccc;
  color: #8f8f8f;
  display: none;
}

.accountDropDownSelector {
  position: relative;
  background: none;
  top: 8px;
  left: 200px;
  z-index: 10;
}

.accountBlueBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background: #5a7284;
  border-radius: 4px;
  padding: 0 16px 0 20px;
  margin: 0 0 5px 0;
}

.accountWhiteBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 4px;
  background: #ffff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  padding: 0 16px 0 20px;
}

.accountShowingFiltered {
  margin: 0 0 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blueLoadTitle {
  display: flex;
  align-items: center;
  width: 114px;
  height: 14px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.blueLoadTitle2 {
  display: flex;
  align-items: center;
  width: 48px;
  height: 14px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.whiteLoadInfoContainers {
  display: flex;
  align-items: center;
  width: 140px;
  height: 14px;
  font-weight: 600;
  font-size: 12px;
}

.whiteLoadInfoContainers2 {
  display: flex;
  align-items: center;
  width: 70px;
  height: 14px;
  font-weight: 600;
  font-size: 12px;
}

.blueLoadTitleGroup {
  width: 900px;
  justify-content: space-between;
}

.accountLoadInfo {
  justify-content: space-between;
  width: 930px;
}

.accountLoadStatus {
  color: #ffffff;
  width: 260px;
}

.accountLoadBtns {
  height: 22px;
  width: 22px;
  background: none;
  padding: 0;
}

.accountLoadBtnsContainer {
  display: flex;
  gap: 14px;
}

.accountDelivered {
  color: #56bb61;
  font-size: 12px;
  font-weight: 600;
  margin: 0 2px 0 0;
}

.accountRightLoadContainer {
  width: 260px;
  justify-content: space-between;
}

.exportContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 408px;
  z-index: 2;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 0 0 0 20px;
  height: auto;
}

.loadInfoContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: auto;
  z-index: 2;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 0 0 0 20px;
}

.accountingSummaryContainer {
  display: none;
  position: absolute;
  width: 66vw;
  height: 100vh;
  z-index: 2;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}
