/* Table */
table {
  border-collapse: collapse;
}

th {
  font-size: 14px;
  color: var(--white);
  font-weight: 400;
}

td,
th {
  padding: 8px;
}

table.accountSummaryTable > tbody > tr {
  background-color: #ffffff;
  border: none;
}

table.accountSummaryTable > thead > tr {
  background-color: #5a7284;
  border-radius: 4px 4px 0px 0px;
}

table.accountSummaryTable > tbody > tr:nth-child(odd) {
  background-color: #e6eaed;
}

table.accountSummaryTable > tfoot > tr {
  background-color: #5a7284;
  border-radius: 4px 4px 0px 0px;
}

thead > tr > th:first-child {
  border-top-left-radius: 4px;
}

thead > tr > th:last-child {
  border-top-right-radius: 4px;
}

tfoot > tr > th:first-child {
  border-bottom-left-radius: 4px;
}

tfoot > tr > th:last-child {
  border-bottom-right-radius: 4px;
}
/* Classes */
.headerFlex {
  display: flex;
  justify-content: space-between;
  margin: 0 12px 0 12px;
}

.mediumPanelsTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 12px;
  color: var(--primaryColor);
}

.mediumHeading {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  color: var(--primaryColor);
}

.light {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: var(--primaryColor);
}
.subheadingItalic {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  color: var(--primaryColor);
}

.subheadingContainer {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summaryContainer {
  margin: 64px 12px auto 12px;
}

.summaryHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.accountSummaryTable {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
}

.footHeader {
  font-weight: 700;
}

.footSubHeader {
  font-size: 12px;
  font-weight: 700;
}

.tableContainer {
  margin-bottom: 64px;
}
