.exportFileFormat {
  width: 300px;
}

.exportAmount {
  width: 134px;
}

.exportUSDAccount {
  width: 128px;
}

.exportDateFormat {
  width: 114px;
}

.exportItemTitle {
  width: 214px;
}

.exportRow1 {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}

.historyBtn {
  background-color: var(--primaryColor);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  font-family: var(--mainFont);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);
  height: 22px;
}

.historyBtn:hover,
.historyBtn:focus {
  background-color: var(--primaryHover);
}

.greyItalic {
  color: #787878;
  font-style: italic;
  font-size: 9px;
  font-weight: 500;
}

.columnHeading {
  font-size: 14px;
  font-weight: 700;
}

.exportRow {
  margin: 20px 0;
  max-width: 360px;
}

.exportBtn {
  background-color: var(--accent);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  font-family: var(--mainFont);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);
  height: 22px;
}

.exportBtn:hover,
.exprortBtn:focus {
  background-color: var(--accentHover);
}

.line {
  border-bottom: 1px solid var(--primaryColor);
  margin-bottom: 12px;
}

.headingContainer {
  padding-bottom: 8px;
}

.thirdPanelFormContainer {
  margin-top: 30px;
  min-height: 100px;
  max-height: 100vh;
  padding: 0 27px 0 27px;
}

.exportBottomBtns {
  justify-content: flex-end;
  margin-bottom: 24px;
}