.exportHistoryContainer {
  display: none;
  position: absolute;
  width: 33vw;
  height: 100vh;
  z-index: 3;
  right: -1200px;
  top: 0;
  background: #ffffff;
  box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  border-radius: 20px 0 0 0;
}
