<panel>
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeExport" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle flexRow">
        <div id="editCustomerTitle">ADJUST MILEAGE</div>
      </div>
    </span>
    <button id="exportHistorySave" class="orangeButton saveButton">SAVE</button>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flexRow panelInputSpacing">
      <div>
        <select id="" class="exportDateFormat">
          <option selected>2021 Q3</option>
        </select>
      </div>
      <div>
        <select id="" class="exportDateFormat">
          <option selected disabled>Select Truck</option>
        </select>
      </div>
      <div>
        <select id="" class="exportDateFormat">
          <option selected>Report</option>
        </select>
      </div>
      <button class="exportBtn">GENERATE</button>
    </div>

  </div>
</panel>