<div class="mainTop">
  <h6 class="mainTitle">IFTA</h6>
  <span class="searchContainer">
    <input id="search" class="search searchDispatchSize" placeholder="Search IFTA">
    <a class="help">Help</a>
  </span>
</div>
<div class="btnRow1">
  <button id="viewReceipt" class="IFTAOrangeBtn">VIEW RECEIPTS</button>
  <button id="generateReport" class="IFTAOrangeBtn">GENERATE REPORT</button>
</div>
<div class="flexColumn">
  <div class="IFTAMap"></div>
  <div class="IFTAGreyContainer">
    <div class="flexRow iftaButtonRowContainer">
      <div class="flexRow iftaButtonRow">
        <select>
          <option>2021 Q3</option>
        </select>
        <select>
          <option>Select Truck</option>
        </select>
        <button class="iftaAdjustMilageBtn">ADJUST MILAGE</button>
      </div>
      <div style="display: flex; align-items: center;">
        <div class="sortBy">Sort By:</div>
        <button class="sortDropDown">Recently added<img class="statusArrow" src="/img/sideBar/dropDownArrow.svg"></button>
      </div>
    </div>
    <div class="IFTAWhiteBar">
      <div class="iftaLoadNum"># 7792</div>
      <div class="iftaLoadDates">
        <img class="iftaLoadCalender" src="/img/blueCalander.svg">
        <div class="iftaLoadDate">09/13/21</div>
        <img src="/img/dispatchPage/arrowRight.svg" alt="">
        <div class="iftaLoadDate">09/24/21</div>
      </div>
      <div class="iftaLoadMiles">
        <div class="iftaLoadODO">ODO</div>
        <div class="iftaLoadMile">124,123 mi</div>
        <img src="/img/dispatchPage/arrowRight.svg" alt="">
        <div class="iftaLoadMile">125,521 mi</div>
      </div>
      <div class="iftaLoadDisplayMiles">
        <img class="iftaSpeedometer" src="/img/speedometer.svg" alt="">
        <div class="iftaLoadDisplayMile">930 miles</div>
      </div>
      <div class="iftaLoadJourney">
        <img class="iftaLoadFlag" src="/img/dispatchPage/flagGreen.svg" alt="">
        <div class="iftaLoadCity">Atlanta, GA</div>
        <img src="/img/dispatchPage/arrowRight.svg" alt="">
        <img class="iftaLoadFlag" src="/img/dispatchPage/flagFinish.svg" alt="">
        <div class="iftaLoadCity">Scottsdale, AZ</div>
      </div>
      <button class="iftaEditLoadBtn"><img class="iftaEditLoadImg" src="/img/dispatchPage/editLoad.svg" alt=""></button>
    </div>
  </div>
</div>
<footer class="IFTAFooter">
  <button class="iftaFooterBtns iftaFooterMilage" id="adjustMilage">ADJUST MILAGE</button>
  <button class="iftaFooterBtns iftaFooterReceipts" id="viewReceipt">VIEW RECEIPTS</button>
  <button class="iftaFooterBtns iftaFooterMilage" id="generateReport">GENERATE REPORT</button>
</footer>
<div class="milageContainer">
  <div id="milagePanel"></div>
</div>
<div class="viewReceiptsContainer">
  <div id="viewReceiptsPanel"></div>
</div>
<div class="generateReportContainer">
  <div id="generateReportPanel"></div>
</div>
<div class="promptSaveChanges">
  <div id="promptUnsavedChanges"></div>
</div>

<script src="/js/IFTA/IFTAMain.js"></script>