<panel>
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeExport" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle flexRow">
        <div id="editCustomerTitle">ADJUST MILEAGE</div>
      </div>
    </span>
    <button id="exportHistorySave" class="orangeButton saveButton">SAVE</button>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flexRow panelInputSpacing">
      <div>
        <select id="" class="exportDateFormat">
          <option selected>2021 Q3</option>
        </select>
      </div>
      <div>
        <select id="" class="exportDateFormat">
          <option selected disabled>Select Truck</option>
        </select>
      </div>
      <button class="exportBtn">ADD MILES</button>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="whiteBarIFTA">
        <div class="flexRow center-y panelInputSpacing">
          <label class="mediumText">State/Province</label>
          <select class="equalInputWidth">
            <option></option>
          </select>
        </div>
        <div class="flexRow center-y panelInputSpacing">
          <label class="mediumText">Miles</label>
          <input class="equalInputWidth" type="text" id="">
        </div>
        <div>
          <button id="delete" class="deleteBtn"><img src="/img/IFTA/greyDelete.svg"></button>
        </div>
      </div>
      <div class="whiteBarIFTA">
        <div class="flexRow center-y panelInputSpacing">
          <label class="mediumText">State/Province</label>
          <select class="equalInputWidth">
            <option></option>
          </select>
        </div>
        <div class="flexRow center-y panelInputSpacing">
          <label class="mediumText">Miles</label>
          <input class="equalInputWidth" type="text" id="">
        </div>
        <div>
          <button id="delete" class="deleteBtn"><img src="/img/IFTA/greyDelete.svg"></button>
        </div>
      </div>
    </div>
  </div>
</panel>