<panel>
  <div class="HeaderNarrow">
    <span class="spanLeft">
      <button id="close" class="stockBtn"><img class="closeExport" src="/img/editLoadPanel/exitIcon.svg"></button>
      <div class="largePanelsTitle flexRow">
        <div id="editCustomerTitle">FUEL RECEIPTS</div>
      </div>
    </span>
    <button id="exportHistorySave" class="orangeButton saveButton">SAVE</button>
  </div>
  <div class="thirdPanelFormContainer">
    <div class="flexRow panelInputSpacing">
      <div>
        <select id="">
          <option selected>2021 Q3</option>
        </select>
      </div>
      <div>
        <select id="">
          <option selected disabled>Select Truck</option>
        </select>
      </div>
      <div>
        <input id="" type="text" class="receiptloadNum" placeholder="Load #">
      </div>
    </div>
    <div class="greyContainer customersGreyContainerSize">
      <div class="whiteBarIFTA">
        <span id="receiptLabel">Receipt 03</span>
        <button id="delete" class="deleteBtn"><img src="/img/IFTA/greyDelete.svg"></button>
      </div>
    </div>
  </div>
</panel>